In [143]:
#General
import numpy as np
import pandas as pd

#Data Retrieval and Visualization
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

#Statistical Package
from scipy import stats 
import statsmodels.api as sm
import math
from scipy.stats import linregress
from scipy.stats import f

In [144]:
from pandas_datareader.famafrench import get_available_datasets
#spy_etf=web.DataReader('SPY','yahoo','2010-01-01','2020-01-01' ) 
beg1='1963-07-01' #'1963-07-01' '2015-01-01'
end1='2014-12-01' #'2014-12-01''2020-09-01'

In [145]:
def fm_summary(p): #Summary Statistics Function
    s = p.describe().T
    s['std_error'] = s['std']/np.sqrt(s['count'])
    s['tstat'] = s['mean']/s['std_error']
    return s[['mean','std','tstat']].T
def update_withrf(dataport):
    for x in range(len(dataport.columns)):
        dataport.iloc[:,x]=dataport.iloc[:,x]-dataport['RF']
    dataport.drop('RF',axis=1,inplace=True)

In [146]:
len(get_available_datasets())
#print(ds['DESCR'])
datasets = get_available_datasets()
datasets

['F-F_Research_Data_Factors',
 'F-F_Research_Data_Factors_weekly',
 'F-F_Research_Data_Factors_daily',
 'F-F_Research_Data_5_Factors_2x3',
 'F-F_Research_Data_5_Factors_2x3_daily',
 'Portfolios_Formed_on_ME',
 'Portfolios_Formed_on_ME_Wout_Div',
 'Portfolios_Formed_on_ME_Daily',
 'Portfolios_Formed_on_BE-ME',
 'Portfolios_Formed_on_BE-ME_Wout_Div',
 'Portfolios_Formed_on_BE-ME_Daily',
 'Portfolios_Formed_on_OP',
 'Portfolios_Formed_on_OP_Wout_Div',
 'Portfolios_Formed_on_OP_Daily',
 'Portfolios_Formed_on_INV',
 'Portfolios_Formed_on_INV_Wout_Div',
 'Portfolios_Formed_on_INV_Daily',
 '6_Portfolios_2x3',
 '6_Portfolios_2x3_Wout_Div',
 '6_Portfolios_2x3_weekly',
 '6_Portfolios_2x3_daily',
 '25_Portfolios_5x5',
 '25_Portfolios_5x5_Wout_Div',
 '25_Portfolios_5x5_Daily',
 '100_Portfolios_10x10',
 '100_Portfolios_10x10_Wout_Div',
 '100_Portfolios_10x10_Daily',
 '6_Portfolios_ME_OP_2x3',
 '6_Portfolios_ME_OP_2x3_Wout_Div',
 '6_Portfolios_ME_OP_2x3_daily',
 '25_Portfolios_ME_OP_5x5',
 '25_Portfolios_ME_OP_5x5_Wout_Div',
 '25_Portfolios_ME_OP_5x5_daily',
 '100_Portfolios_ME_OP_10x10',
 '100_Portfolios_10x10_ME_OP_Wout_Div',
 '100_Portfolios_ME_OP_10x10_daily',
 '6_Portfolios_ME_INV_2x3',
 '6_Portfolios_ME_INV_2x3_Wout_Div',
 '6_Portfolios_ME_INV_2x3_daily',
 '25_Portfolios_ME_INV_5x5',
 '25_Portfolios_ME_INV_5x5_Wout_Div',
 '25_Portfolios_ME_INV_5x5_daily',
 '100_Portfolios_ME_INV_10x10',
 '100_Portfolios_10x10_ME_INV_Wout_Div',
 '100_Portfolios_ME_INV_10x10_daily',
 '25_Portfolios_BEME_OP_5x5',
 '25_Portfolios_BEME_OP_5x5_Wout_Div',
 '25_Portfolios_BEME_OP_5x5_daily',
 '25_Portfolios_BEME_INV_5x5',
 '25_Portfolios_BEME_INV_5x5_Wout_Div',
 '25_Portfolios_BEME_INV_5x5_daily',
 '25_Portfolios_OP_INV_5x5',
 '25_Portfolios_OP_INV_5x5_Wout_Div',
 '25_Portfolios_OP_INV_5x5_daily',
 '32_Portfolios_ME_BEME_OP_2x4x4',
 '32_Portfolios_ME_BEME_OP_2x4x4_Wout_Div',
 '32_Portfolios_ME_BEME_INV_2x4x4',
 '32_Portfolios_ME_BEME_INV_2x4x4_Wout_Div',
 '32_Portfolios_ME_OP_INV_2x4x4',
 '32_Portfolios_ME_OP_INV_2x4x4_Wout_Div',
 'Portfolios_Formed_on_E-P',
 'Portfolios_Formed_on_E-P_Wout_Div',
 'Portfolios_Formed_on_CF-P',
 'Portfolios_Formed_on_CF-P_Wout_Div',
 'Portfolios_Formed_on_D-P',
 'Portfolios_Formed_on_D-P_Wout_Div',
 '6_Portfolios_ME_EP_2x3',
 '6_Portfolios_ME_EP_2x3_Wout_Div',
 '6_Portfolios_ME_CFP_2x3',
 '6_Portfolios_ME_CFP_2x3_Wout_Div',
 '6_Portfolios_ME_DP_2x3',
 '6_Portfolios_ME_DP_2x3_Wout_Div',
 'F-F_Momentum_Factor',
 'F-F_Momentum_Factor_daily',
 '6_Portfolios_ME_Prior_12_2',
 '6_Portfolios_ME_Prior_12_2_Daily',
 '25_Portfolios_ME_Prior_12_2',
 '25_Portfolios_ME_Prior_12_2_Daily',
 '10_Portfolios_Prior_12_2',
 '10_Portfolios_Prior_12_2_Daily',
 'F-F_ST_Reversal_Factor',
 'F-F_ST_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_1_0',
 '6_Portfolios_ME_Prior_1_0_Daily',
 '25_Portfolios_ME_Prior_1_0',
 '25_Portfolios_ME_Prior_1_0_Daily',
 '10_Portfolios_Prior_1_0',
 '10_Portfolios_Prior_1_0_Daily',
 'F-F_LT_Reversal_Factor',
 'F-F_LT_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_60_13',
 '6_Portfolios_ME_Prior_60_13_Daily',
 '25_Portfolios_ME_Prior_60_13',
 '25_Portfolios_ME_Prior_60_13_Daily',
 '10_Portfolios_Prior_60_13',
 '10_Portfolios_Prior_60_13_Daily',
 'Portfolios_Formed_on_AC',
 '25_Portfolios_ME_AC_5x5',
 'Portfolios_Formed_on_BETA',
 '25_Portfolios_ME_BETA_5x5',
 'Portfolios_Formed_on_NI',
 '25_Portfolios_ME_NI_5x5',
 'Portfolios_Formed_on_VAR',
 '25_Portfolios_ME_VAR_5x5',
 'Portfolios_Formed_on_RESVAR',
 '25_Portfolios_ME_RESVAR_5x5',
 '5_Industry_Portfolios',
 '5_Industry_Portfolios_Wout_Div',
 '5_Industry_Portfolios_daily',
 '10_Industry_Portfolios',
 '10_Industry_Portfolios_Wout_Div',
 '10_Industry_Portfolios_daily',
 '12_Industry_Portfolios',
 '12_Industry_Portfolios_Wout_Div',
 '12_Industry_Portfolios_daily',
 '17_Industry_Portfolios',
 '17_Industry_Portfolios_Wout_Div',
 '17_Industry_Portfolios_daily',
 '30_Industry_Portfolios',
 '30_Industry_Portfolios_Wout_Div',
 '30_Industry_Portfolios_daily',
 '38_Industry_Portfolios',
 '38_Industry_Portfolios_Wout_Div',
 '38_Industry_Portfolios_daily',
 '48_Industry_Portfolios',
 '48_Industry_Portfolios_Wout_Div',
 '48_Industry_Portfolios_daily',
 '49_Industry_Portfolios',
 '49_Industry_Portfolios_Wout_Div',
 '49_Industry_Portfolios_daily',
 'ME_Breakpoints',
 'BE-ME_Breakpoints',
 'OP_Breakpoints',
 'INV_Breakpoints',
 'E-P_Breakpoints',
 'CF-P_Breakpoints',
 'D-P_Breakpoints',
 'Prior_2-12_Breakpoints',
 'Developed_3_Factors',
 'Developed_3_Factors_Daily',
 'Developed_ex_US_3_Factors',
 'Developed_ex_US_3_Factors_Daily',
 'Europe_3_Factors',
 'Europe_3_Factors_Daily',
 'Japan_3_Factors',
 'Japan_3_Factors_Daily',
 'Asia_Pacific_ex_Japan_3_Factors',
 'Asia_Pacific_ex_Japan_3_Factors_Daily',
 'North_America_3_Factors',
 'North_America_3_Factors_Daily',
 'Developed_5_Factors',
 'Developed_5_Factors_Daily',
 'Developed_ex_US_5_Factors',
 'Developed_ex_US_5_Factors_Daily',
 'Europe_5_Factors',
 'Europe_5_Factors_Daily',
 'Japan_5_Factors',
 'Japan_5_Factors_Daily',
 'Asia_Pacific_ex_Japan_5_Factors',
 'Asia_Pacific_ex_Japan_5_Factors_Daily',
 'North_America_5_Factors',
 'North_America_5_Factors_Daily',
 'Developed_Mom_Factor',
 'Developed_Mom_Factor_Daily',
 'Developed_ex_US_Mom_Factor',
 'Developed_ex_US_Mom_Factor_Daily',
 'Europe_Mom_Factor',
 'Europe_Mom_Factor_Daily',
 'Japan_Mom_Factor',
 'Japan_Mom_Factor_Daily',
 'Asia_Pacific_ex_Japan_MOM_Factor',
 'Asia_Pacific_ex_Japan_MOM_Factor_Daily',
 'North_America_Mom_Factor',
 'North_America_Mom_Factor_Daily',
 'Developed_6_Portfolios_ME_BE-ME',
 'Developed_6_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_6_Portfolios_ME_BE-ME',
 'Developed_ex_US_6_Portfolios_ME_BE-ME_daily',
 'Europe_6_Portfolios_ME_BE-ME',
 'Europe_6_Portfolios_ME_BE-ME_daily',
 'Japan_6_Portfolios_ME_BE-ME',
 'Japan_6_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME_daily',
 'North_America_6_Portfolios_ME_BE-ME',
 'North_America_6_Portfolios_ME_BE-ME_daily',
 'Developed_25_Portfolios_ME_BE-ME',
 'Developed_25_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_25_Portfolios_ME_BE-ME',
 'Developed_ex_US_25_Portfolios_ME_BE-ME_daily',
 'Europe_25_Portfolios_ME_BE-ME',
 'Europe_25_Portfolios_ME_BE-ME_daily',
 'Japan_25_Portfolios_ME_BE-ME',
 'Japan_25_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME_daily',
 'North_America_25_Portfolios_ME_BE-ME',
 'North_America_25_Portfolios_ME_BE-ME_daily',
 'Developed_6_Portfolios_ME_OP',
 'Developed_6_Portfolios_ME_OP_Daily',
 'Developed_ex_US_6_Portfolios_ME_OP',
 'Developed_ex_US_6_Portfolios_ME_OP_Daily',
 'Europe_6_Portfolios_ME_OP',
 'Europe_6_Portfolios_ME_OP_Daily',
 'Japan_6_Portfolios_ME_OP',
 'Japan_6_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP_Daily',
 'North_America_6_Portfolios_ME_OP',
 'North_America_6_Portfolios_ME_OP_Daily',
 'Developed_25_Portfolios_ME_OP',
 'Developed_25_Portfolios_ME_OP_Daily',
 'Developed_ex_US_25_Portfolios_ME_OP',
 'Developed_ex_US_25_Portfolios_ME_OP_Daily',
 'Europe_25_Portfolios_ME_OP',
 'Europe_25_Portfolios_ME_OP_Daily',
 'Japan_25_Portfolios_ME_OP',
 'Japan_25_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP_Daily',
 'North_America_25_Portfolios_ME_OP',
 'North_America_25_Portfolios_ME_OP_Daily',
 'Developed_6_Portfolios_ME_INV',
 'Developed_6_Portfolios_ME_INV_Daily',
 'Developed_ex_US_6_Portfolios_ME_INV',
 'Developed_ex_US_6_Portfolios_ME_INV_Daily',
 'Europe_6_Portfolios_ME_INV',
 'Europe_6_Portfolios_ME_INV_Daily',
 'Japan_6_Portfolios_ME_INV',
 'Japan_6_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV_Daily',
 'North_America_6_Portfolios_ME_INV',
 'North_America_6_Portfolios_ME_INV_Daily',
 'Developed_25_Portfolios_ME_INV',
 'Developed_25_Portfolios_ME_INV_Daily',
 'Developed_ex_US_25_Portfolios_ME_INV',
 'Developed_ex_US_25_Portfolios_ME_INV_Daily',
 'Europe_25_Portfolios_ME_INV',
 'Europe_25_Portfolios_ME_INV_Daily',
 'Japan_25_Portfolios_ME_INV',
 'Japan_25_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV_Daily',
 'North_America_25_Portfolios_ME_INV',
 'North_America_25_Portfolios_ME_INV_Daily',
 'Developed_6_Portfolios_ME_Prior_12_2',
 'Developed_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_6_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_6_Portfolios_ME_Prior_250_20_daily',
 'Europe_6_Portfolios_ME_Prior_12_2',
 'Europe_6_Portfolios_ME_Prior_250_20_daily',
 'Japan_6_Portfolios_ME_Prior_12_2',
 'Japan_6_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_250_20_daily',
 'North_America_6_Portfolios_ME_Prior_12_2',
 'North_America_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_25_Portfolios_ME_Prior_12_2',
 'Developed_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_25_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_25_Portfolios_ME_Prior_250_20_daily',
 'Europe_25_Portfolios_ME_Prior_12_2',
 'Europe_25_Portfolios_ME_Prior_250_20_daily',
 'Japan_25_Portfolios_ME_Prior_12_2',
 'Japan_25_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_250_20_daily',
 'North_America_25_Portfolios_ME_Prior_12_2',
 'North_America_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Europe_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'North_America_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Emerging_5_Factors',
 'Emerging_MOM_Factor',
 'Emerging_Markets_6_Portfolios_ME_BE-ME',
 'Emerging_Markets_6_Portfolios_ME_OP',
 'Emerging_Markets_6_Portfolios_ME_INV',
 'Emerging_Markets_6_Portfolios_ME_Prior_12_2',
 'Emerging_Markets_4_Portfolios_BE-ME_OP',
 'Emerging_Markets_4_Portfolios_OP_INV',
 'Emerging_Markets_4_Portfolios_BE-ME_INV']

In [147]:
#Extracting data
betaPort=web.DataReader('25_Portfolios_ME_BETA_5x5','famafrench',start=beg1,end=end1)
niPort=web.DataReader('25_Portfolios_ME_NI_5x5','famafrench',start=beg1,end=end1)
varPort=web.DataReader('25_Portfolios_ME_VAR_5x5','famafrench',start=beg1,end=end1)
rVarPort=web.DataReader('25_Portfolios_ME_RESVAR_5x5','famafrench',start=beg1,end=end1)
acPort=web.DataReader('25_Portfolios_ME_AC_5x5','famafrench',start=beg1,end=end1)
momPort=web.DataReader('25_Portfolios_ME_Prior_12_2','famafrench',start=beg1,end=end1)
FF5=web.DataReader('F-F_Research_Data_5_Factors_2x3','famafrench',start=beg1,end=end1)
MOM=web.DataReader('F-F_Momentum_Factor','famafrench',start=beg1,end=end1)

In [148]:
betaPort

{0:          SMALL LoBETA  ME1 BETA2  ME1 BETA3  ME1 BETA4  SMALL HiBETA  \
 Date
 1963-07       -0.6156    -0.5950     0.1464    -0.4538       -1.0076
 1963-08        1.2546     4.0686     3.6955     2.0609        3.2983
 1963-09       -0.8082    -2.0279     0.0034    -1.5411       -3.2312
 1963-10       -0.2628     1.5439     0.2554     4.2260        2.5346
 1963-11        0.6858    -2.6122    -0.5701    -1.4607       -1.6136
 ...               ...        ...        ...        ...           ...
 2014-08        3.6847     4.0526     4.4137     2.9171        3.6693
 2014-09       -3.6194    -5.0385    -6.1376    -6.8540       -9.8558
 2014-10        5.9265     7.5963     6.8120     5.1069        1.9413
 2014-11       -0.9760    -1.5549    -0.6512    -0.8763       -1.0257
 2014-12        5.8356     4.0965     5.3248     3.0467        3.3079

          ME2 BETA1  ME2 BETA2  ME2 BETA3  ME2 BETA4  ME2 BETA5  ...  \
 Date                                                            ...
 1963-07    -1.2514    -0.3679    -0.1052    -1.9284    -2.2530  ...
 1963-08     1.1888     3.4937     2.5338     5.5289     9.8470  ...
 1963-09    -0.7857    -2.0279    -3.3978    -0.2968    -3.4590  ...
 1963-10     3.0067     2.4899     1.6588     2.8336     4.8122  ...
 1963-11     1.3343     0.4250    -1.5255    -0.5500    -1.2990  ...
 ...            ...        ...        ...        ...        ...  ...
 2014-08     4.4127     3.7276     4.9833     6.1620     5.9547  ...
 2014-09    -3.5858    -2.9309    -5.5084    -7.5720    -9.6361  ...
 2014-10     9.4249     7.4286     6.4773     5.6481     3.5416  ...
 2014-11     1.0566    -0.0751     0.0510     0.6431    -2.1790  ...
 2014-12     3.1973     2.7747     2.4803     2.4147     1.3676  ...

          ME4 BETA1  ME4 BETA2  ME4 BETA3  ME4 BETA4  ME4 BETA5  BIG LoBETA  \
 Date
 1963-07    -0.1163    -1.5895    -2.5196    -2.0477    -1.5885      1.4542
 1963-08     3.3178     4.6242     5.2642     6.9176     9.2278      3.8247
 1963-09    -1.8345    -1.8282    -0.6967    -4.3578    -4.4407     -3.0578
 1963-10     0.5059     0.3405     0.8868     1.7748     3.8426      0.7045
 1963-11     1.1886    -1.0115    -0.5881    -0.0017     0.3280     -0.8658
 ...            ...        ...        ...        ...        ...         ...
 2014-08     5.3353     4.9313     4.5196     5.6068     7.0542      4.7126
 2014-09    -2.9478    -1.9303    -3.7882    -5.6194    -6.8430      0.8036
 2014-10     5.7228     3.9508     1.5812     1.2160    -1.5972      3.1858
 2014-11     3.1956     3.7913     2.6773     2.0704    -1.0097      3.5669
 2014-12     0.5673     1.2393     0.2367     0.4557    -0.8586     -1.0571

          ME5 BETA2  ME5 BETA3  ME5 BETA4  BIG HiBETA
 Date
 1963-07     0.0432    -0.6480    -0.4910     -1.0654
 1963-08     4.7915     6.8571     6.2820     11.2566
 1963-09    -0.6836    -0.7008    -0.0808     -1.1917
 1963-10     3.7812     2.3076     6.6941      2.8529
 1963-11    -0.2121    -0.7430    -1.0497      0.6287
 ...            ...        ...        ...         ...
 2014-08     3.6645     3.6526     3.5732      3.8957
 2014-09    -1.7389    -2.1970    -2.9950     -4.0011
 2014-10     2.4685     1.9458    -0.4613     -0.7236
 2014-11     4.0241     2.7746    -1.4590     -0.7588
 2014-12    -0.6020     0.5852     0.9017     -0.6343

 [618 rows x 25 columns],
 1:          SMALL LoBETA  ME1 BETA2  ME1 BETA3  ME1 BETA4  SMALL HiBETA  \
 Date
 1963-07       -1.2453     0.0405     0.3063    -1.2505        1.1654
 1963-08        1.5796     3.5374     4.1326     2.6429        2.9322
 1963-09       -0.3314    -2.0579    -0.0462    -1.6576       -2.6156
 1963-10       -0.3474     0.8006     0.1251     3.2664        3.2700
 1963-11        0.4231    -2.5930    -0.3311    -1.2643       -1.3279
 ...               ...        ...        ...        ...           ...
 2014-08        2.6515     5.2316     3.0274     2.1904        3.1884
 2014-09       -2.4916    -4.7479    -4.6650    -6.7116       -8.6406
 2014-10        2.3052     3.1186     4.2410     0.1054       -1.2413
 2014-11       -0.1530    -0.6852    -0.6318    -1.9649       -1.4703
 2014-12        2.6457     2.2945     2.3781     0.2078        2.0111

          ME2 BETA1  ME2 BETA2  ME2 BETA3  ME2 BETA4  ME2 BETA5  ...  \
 Date                                                            ...
 1963-07    -0.9020    -0.6165    -0.4125    -1.9582    -2.3260  ...
 1963-08     1.3005     3.5519     2.6628     5.2725     9.4708  ...
 1963-09    -0.7847    -1.8415    -3.0573    -0.1260    -3.6099  ...
 1963-10     2.7300     2.5590     1.4431     3.1372     4.8274  ...
 1963-11     1.5542     0.4124    -1.4541    -0.8419    -1.1148  ...
 ...            ...        ...        ...        ...        ...  ...
 2014-08     4.9938     3.4928     4.9795     5.8994     6.3486  ...
 2014-09    -3.9824    -3.0175    -5.6914    -8.1674    -9.8021  ...
 2014-10     8.8950     7.7639     6.6330     5.3396     3.2006  ...
 2014-11     1.0054    -0.3160    -0.1986    -0.4830    -3.0555  ...
 2014-12     3.1833     2.7702     2.8882     2.2669     1.5777  ...

          ME4 BETA1  ME4 BETA2  ME4 BETA3  ME4 BETA4  ME4 BETA5  BIG LoBETA  \
 Date
 1963-07    -0.0407    -1.4430    -2.2998    -2.3350    -1.7659      0.5478
 1963-08     3.1596     4.4605     5.4176     7.0614     8.8856      4.3408
 1963-09    -1.7413    -1.7523    -1.1888    -4.3659    -4.3909     -2.4369
 1963-10     0.5574     0.7798     1.0769     1.7083     3.9363      0.2382
 1963-11     0.8760    -0.8450    -0.1690    -0.1419     0.2379     -0.6642
 ...            ...        ...        ...        ...        ...         ...
 2014-08     5.1780     5.0193     4.4293     5.7266     7.6319      5.3782
 2014-09    -3.1862    -1.9526    -4.2106    -5.7589    -7.2502      0.2306
 2014-10     5.3161     4.0579     1.3830     0.6414    -2.2309      4.7611
 2014-11     2.8428     3.4386     2.1417     0.6555    -1.9955      3.4009
 2014-12     0.0181     1.2860    -0.0362    -0.1439    -0.6980      0.3084

          ME5 BETA2  ME5 BETA3  ME5 BETA4  BIG HiBETA
 Date
 1963-07     0.2128    -0.6384    -0.9469     -0.1738
 1963-08     5.2590     6.3657     8.1173     10.8093
 1963-09    -2.5485    -1.4581    -0.8779     -2.2752
 1963-10     0.8804     2.5652     3.7315      3.4851
 1963-11    -0.3444    -0.6502    -0.1985      0.6843
 ...            ...        ...        ...         ...
 2014-08     3.5635     4.4148     3.1445      3.9502
 2014-09    -1.4556    -3.2126    -4.4148     -4.7371
 2014-10     2.6864     1.8509    -0.4017     -1.6075
 2014-11     4.5324     2.4971    -1.6559     -1.1576
 2014-12    -0.1742     0.2323    -0.5748     -0.7094

 [618 rows x 25 columns],
 2:       SMALL LoBETA  ME1 BETA2  ME1 BETA3  ME1 BETA4  SMALL HiBETA  ME2 BETA1  \
 Date
 1964       25.2870    10.8516    27.0896    26.1103       13.6552    23.2990
 1965       22.8264    44.6068    38.7472    34.5345       53.5450    20.0620
 1966       -8.1594    -9.0116    -8.1691    -9.2055       -6.1040    -5.2861
 1967       88.6026    85.3061    92.4769   108.3998      131.9051    70.1510
 1968       54.1001    54.2737    56.4236    45.0090       55.3663    26.6649
 1969      -25.1179   -26.6190   -33.6920   -32.6698      -34.8523   -22.9490
 1970       -1.4749    -9.0460    -5.7463   -12.3523      -26.2236     7.9236
 1971        5.4333    19.2312    30.8397    15.1598       11.0989    14.0706
 1972        0.5472    14.0673     3.1921     0.8961       -0.8603    18.9195
 1973      -15.5295   -27.1107   -31.1285   -30.7898      -45.1307   -16.7198
 1974      -13.6077   -11.8904   -18.6038   -24.2615      -31.4982   -16.3193
 1975       38.6154    56.6836    59.3025    64.5314       82.0927    35.4523
 1976       40.8014    44.9355    58.2543    55.3101       50.6453    41.4914
 1977       22.7894    23.7558    31.1204    30.8237       27.2734    10.0568
 1978       20.4581    16.9555    23.8658    26.5228       28.6978     9.3569
 1979       30.2209    38.1502    44.7279    46.4742       43.6173    26.7438
 1980       22.3478    25.8957    36.1271    37.1897       50.0615    16.5586
 1981       16.8080    18.6553     7.6812     6.8892      -12.2010    18.7776
 1982       31.0817    32.9150    37.7988    32.5630       28.2489    31.4880
 1983       42.9536    48.6178    43.8384    37.5809       27.1525    43.6032
 1984       10.2518     5.4520    -5.6922   -10.1550      -22.2732    15.3044
 1985       34.1685    34.2217    21.9078    26.7989       20.6843    49.6433
 1986        8.7895    14.3810     7.3345     5.0951       -3.5001    14.8570
 1987       -7.2788    -5.8664   -11.9999    -7.7977      -21.5641    -7.7533
 1988       18.1147    28.4838    23.4416    25.2984       13.9965    20.3735
 1989        8.8719    12.0743     3.8308    11.3557        7.5296    16.5231
 1990      -24.2445   -24.6254   -27.9194   -27.6544      -32.4015   -16.9535
 1991       32.1178    34.5920    41.1049    54.0011       79.5581    30.3049
 1992       28.4945    22.8227    27.3259    35.1316        9.2492    16.8704
 1993       25.0364    24.0932    24.6727    17.1108       15.7097    18.0130
 1994       -4.3897     3.6523    -3.7261    -1.7411       -6.8479    -4.5200
 1995       23.6385    30.0878    31.9052    32.7659       44.0149    22.7585
 1996       17.4662    19.5067    24.5409    21.5889       14.0824    18.1965
 1997       33.7412    37.3269    28.6258    33.9169       16.0405    25.0426
 1998       -4.9081   -12.1485   -10.7565    -5.8756       -4.4342    -1.2144
 1999       19.6012     9.2681    22.6696    36.0637       77.9868     0.8575
 2000        4.5138    10.1421    12.1399    -4.8328      -20.4213    12.8128
 2001       26.8833    40.4378    34.4236    35.7193       28.3386    17.9398
 2002        9.7139     7.8201     3.6611    -8.4938      -27.0109    -1.5555
 2003       43.2406    46.1640    55.4649    67.5921      110.2109    35.1970
 2004       15.8074    28.9439    26.6446    24.9846        3.6240    26.4470
 2005        3.2542     6.1067    10.1808     9.6416       -2.4292    10.2658
 2006       17.6076    18.4251    23.4097    21.9501       16.2417    16.0006
 2007      -13.6139    -7.8662    -8.7715    -6.6196       -7.6419    -6.8295
 2008      -34.3901   -29.5014   -40.0615   -34.3725      -45.5639   -29.9435
 2009        3.0276     5.8754    27.1503    38.4812       76.9165     6.4712
 2010       23.3656    25.6811    32.1553    35.8321       40.6203    21.9173
 2011        1.4497    -8.6330   -14.1430   -10.5638      -18.8280     0.0266
 2012       21.0960    20.2708    19.0979    19.6334       16.6576    15.0487
 2013       43.8527    39.1686    47.4442    52.4960       59.2405    38.3714
 2014        5.3705     7.7980     2.1979     1.1760       -7.6900    10.5754

       ME2 BETA2  ME2 BETA3  ME2 BETA4  ME2 BETA5  ...  ME4 BETA1  ME4 BETA2  \
 Date                                              ...
 1964    21.3888    21.7527    19.8547    19.7696  ...    23.1288    17.7600
 1965    30.9543    44.1995    42.7983    44.6612  ...    17.7215    17.5717
 1966    -6.9246   -12.2582    -2.7916    -8.1078  ...    -5.9249    -9.2290
 1967    62.9160    70.5903    70.1911    84.5558  ...    23.5135    22.7558
 1968    33.4502    40.3698    31.9739    32.1920  ...    16.8985    28.7573
 1969   -20.5961   -25.1272   -20.4472   -25.4369  ...   -15.5837   -11.8299
 1970    -3.9123     2.9811    -7.0149   -23.5215  ...    12.9930     3.3153
 1971    21.4621    12.3780    27.8835    21.1057  ...    10.8867    24.1728
 1972     5.6846     8.6571     4.6512    -3.5050  ...    12.4184    13.4073
 1973   -27.0285   -24.8324   -33.5658   -45.8309  ...   -14.8126   -16.1364
 1974   -16.3392   -19.1089   -22.7962   -32.2756  ...   -18.0855   -24.3239
 1975    42.5400    59.0526    59.7991    64.5310  ...    38.7927    52.3440
 1976    46.3840    50.6378    47.5208    46.7291  ...    35.9938    34.9036
 1977    18.2285    12.4347    19.7373    24.3261  ...     4.2072    -1.0034
 1978    15.8117    22.3742    18.5107    21.7615  ...     3.2109     7.5006
 1979    37.8901    39.3162    42.5837    51.3952  ...    23.2059    37.7478
 1980    28.7679    38.0255    39.5567    47.5781  ...    23.0875    28.5068
 1981    14.2186    10.5273     2.8804    -6.6089  ...    16.1548     8.9258
 1982    28.5569    31.6292    37.8301    18.6454  ...    38.1105    33.1480
 1983    42.3617    35.9047    36.1355    20.7241  ...    22.7761    29.2522
 1984    11.7016     3.2646    -6.6228   -13.5413  ...    10.4632     8.7462
 1985    45.3304    35.3293    27.2522    26.9813  ...    36.2500    43.8165
 1986    12.2798    13.3777     5.0351     4.0473  ...    26.0633    24.3335
 1987    -0.5226    -0.4188    -5.6363   -14.5623  ...    -7.1855     5.2327
 1988    24.3099    28.3933    28.2044    19.9894  ...    17.9915    22.9738
 1989    20.8753    22.2375    15.4427    17.2913  ...    27.6759    30.8316
 1990   -17.7778   -15.9854   -18.5254   -22.8946  ...     0.2468   -10.3382
 1991    40.5473    52.6214    38.3994    52.3422  ...    22.2520    36.5181
 1992    20.5328    20.8678    18.5682    15.0692  ...     7.5997    12.3200
 1993    16.1785    13.3552    20.4986    19.2402  ...    17.4485     9.4242
 1994     1.8599     4.3342    -7.3969    -0.3925  ...    -7.1108     1.8364
 1995    26.1504    30.5882    30.2248    30.7813  ...    27.3262    29.1545
 1996    17.4563    16.2269    24.0731    12.8580  ...    16.3355    17.6182
 1997    35.9283    33.9394    27.8193    16.2514  ...    25.1033    29.2681
 1998    -0.0514    -6.9727    -3.4152     0.4658  ...    10.3506    -2.4182
 1999     3.5348     3.2564     5.2252    47.7972  ...    -1.7384    13.4365
 2000    25.1971    11.3039    19.2225   -21.2981  ...    56.9372    11.8739
 2001    13.2937    23.1152    21.8291    15.4785  ...    -3.9407     6.2371
 2002    -0.7050    -8.6923   -16.9786   -39.1119  ...    -3.9741    -5.8823
 2003    42.5289    40.5855    50.9186    61.8706  ...    29.5183    32.0919
 2004    27.3504    29.0071    25.0940     9.4068  ...    18.9403    26.8248
 2005    11.1884    11.3633     8.1347     3.3282  ...     9.7058     9.4157
 2006    18.4651    12.3325    21.1173    19.6160  ...    11.0656    13.0345
 2007    -5.5252    -0.5592    -3.3836    -1.1123  ...     3.9127     7.1619
 2008   -15.6887   -18.0668   -32.0988   -39.1466  ...   -34.8408   -37.6870
 2009    14.0564    18.1973    43.8155    78.1310  ...    25.3652    26.8644
 2010    25.2683    30.1640    29.0591    32.9337  ...    25.9517    28.6158
 2011    -3.8795     4.3734    -3.4888   -11.3683  ...    14.0307     4.7363
 2012    15.4426    25.3881    15.5653    13.4292  ...    15.7979    17.2483
 2013    37.0455    47.3511    46.4060    36.8107  ...    30.7275    39.7248
 2014     8.6739     2.7225     2.0076    -3.0852  ...    20.8582    19.7278

       ME4 BETA3  ME4 BETA4  ME4 BETA5  BIG LoBETA  ME5 BETA2  ME5 BETA3  \
 Date
 1964    18.2522    18.4006    16.5570     16.1183    20.0797    17.1482
 1965    17.7907    37.4009    46.8666      7.1018     4.7704    13.1719
 1966    -3.6972    -3.7462    -0.8558     -9.2531   -12.9852   -10.4154
 1967    30.5388    40.6555    54.7926      8.9596    19.4678    28.6667
 1968    18.9850    22.9853    12.9117     14.5169     3.1510    10.1455
 1969   -10.7269   -22.8403   -16.1941    -11.7649    -0.8650    -2.8646
 1970     2.2803    -8.3695    -5.1263      8.2465     2.8704    -5.3030
 1971    24.4095    16.4590    37.5866     11.9500    16.3630    21.8602
 1972     3.0156     2.8973     1.3480     22.9602    15.6917    22.3825
 1973   -27.5891   -24.9219   -40.0509    -11.0848   -13.0519   -19.8872
 1974   -29.2174   -34.4115   -35.5851    -25.0122   -28.1293   -33.0841
 1975    56.9153    48.8027   111.9806     29.5871    40.9730    42.0586
 1976    41.5504    33.5478    29.2044     28.1558    15.9110    21.9013
 1977     3.2623     1.3082    -2.2366     -3.6629   -12.9379    -7.2825
 1978     6.7543     9.7043    19.5231      6.3579     4.7878    10.2355
 1979    34.1599    36.5005    31.2473     23.5059    11.5934    15.7426
 1980    39.5046    39.5848    40.0822     31.8301    32.5747    27.7100
 1981     1.7325   -10.7667    -8.3284      6.1261   -14.6716    -7.9265
 1982    25.6119     9.5766     4.1278     29.6999    40.2865    11.2229
 1983    23.2486    23.7465    13.0740     12.7642    26.6528    21.9712
 1984    -1.5017    -5.5791   -17.2740     14.8625     8.1446     7.1901
 1985    32.4043    23.7934    18.7363     36.6796    35.6716    24.8547
 1986    17.9272     8.0167     5.0794     32.0652    14.6762    14.8485
 1987     5.9642     1.4743    -0.4485      5.2167     9.3260     4.3209
 1988    13.8491    28.3714    14.7584     19.0338    13.3902    15.9501
 1989    27.3847    18.1802    27.5610     38.3741    29.9485    31.8673
 1990   -13.6820   -15.2879   -14.4976      1.1222    -0.1484    -5.6564
 1991    43.3700    51.5681    57.4212     20.0242    27.2627    38.0555
 1992    17.1912    10.7347    32.0906      2.3896     2.9484    11.3693
 1993    12.7658    14.6515    26.3327     10.8345     6.0885     5.2868
 1994    -4.1761    -3.7517     3.5177     -1.3985     8.3125    -3.0127
 1995    34.0568    33.2264    34.6600     36.7494    42.9432    34.0942
 1996    20.6303    20.3619    21.1195     16.2579    19.0033    28.2192
 1997    29.2005    23.7988    19.6445     29.2199    29.7799    40.2209
 1998     7.7457    -0.7283    10.9742     24.7380    37.1040    26.0635
 1999     7.8404    23.8833    80.1117     -6.3014    21.0319    15.6181
 2000    29.4152    14.6045   -15.0964     26.1327     7.2623   -11.6036
 2001    15.0616    -0.6766    -6.2072    -10.0816    -9.1420     1.4129
 2002    -6.0510   -17.2074   -39.0634    -11.2679   -15.7970   -15.4909
 2003    41.6342    42.9828    58.2294     15.1471    25.7638    16.2983
 2004    15.8039    17.4921     9.2149      8.6577    12.6177    14.2770
 2005    16.9929    15.1300    12.9509      3.9221    10.4826     3.9068
 2006    15.6445    16.3245    10.9429     16.0905    17.1099    11.8888
 2007     2.0784    -4.6856     2.7961      4.4535     6.8465     7.2601
 2008   -36.4861   -42.6021   -47.7721    -28.7101   -34.1405   -38.0348
 2009    42.1577    52.5533    75.6918      8.9215    23.4303    39.3620
 2010    20.2126    32.2857    35.7015      9.5381    10.3393    18.9987
 2011    -0.0342   -13.0900   -20.4687     13.0375     1.0433    -2.6770
 2012    12.8412    18.5967    15.2248     11.1690    14.2004    20.4317
 2013    39.4625    41.5588    41.2799     26.4787    40.7969    31.3988
 2014     7.3416     3.0849     2.2280     17.5364    13.9049    10.5624

       ME5 BETA4  BIG HiBETA
 Date
 1964     5.8854      5.3341
 1965    21.3481     54.5054
 1966    -2.4505     -0.2278
 1967    38.7244     27.5175
 1968     1.5357     14.1088
 1969   -13.1129    -14.2221
 1970    -4.8237    -35.3607
 1971    17.8628     13.0808
 1972    19.5513     -3.9771
 1973   -41.8549    -39.8036
 1974   -40.1977    -29.0091
 1975    64.3456     48.8274
 1976    22.1915      5.9361
 1977    -5.4213    -26.9537
 1978     4.6420     19.9613
 1979    17.7382      8.1390
 1980    48.4989     45.8760
 1981    -9.1918     -7.4195
 1982    -6.1975      5.0050
 1983    30.5471     11.6859
 1984    -2.1663     -9.3514
 1985    26.9486     26.6715
 1986     5.0925      6.2954
 1987     3.7386     -8.8800
 1988    19.5238     10.5791
 1989    26.9969     33.2177
 1990    -4.1446      8.2340
 1991    37.8841     44.7329
 1992    19.4178     11.2433
 1993    18.7310     10.3607
 1994    -4.2066      5.0498
 1995    44.6745     45.1611
 1996    25.9079     41.7054
 1997    38.3316     34.0951
 1998    31.2506     41.3112
 1999    32.2499     49.6809
 2000    -8.6615    -31.1507
 2001   -10.9544    -29.3840
 2002   -26.0922    -35.0148
 2003    32.5674     49.2461
 2004    10.6522      3.9974
 2005     7.8329     -2.0406
 2006    23.2923      2.5867
 2007    10.8587     14.2409
 2008   -52.6563    -55.6010

In [149]:
FF5[0]
FF6=pd.concat([FF5[0],MOM[0]],axis=1,sort=False)

In [150]:
FF6.columns

Index(['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF', 'Mom   '], dtype='object')

## Table 1

In [151]:
Table1=fm_summary(FF6).copy()
Table1.rename(str.upper,axis='columns',inplace=True)
Table1.drop('RF',axis=1).applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

       MKT-RF    SMB    HML    RMW    CMA  MOM
mean    0.508  0.264  0.378  0.267  0.322   0.687
std     4.457  3.048  2.819  2.232  2.019   4.220
tstat   2.831  2.154  3.331  2.975  3.960   4.048

## Table 2

In [152]:
#Excess return of each anomaly portfolio
betaPortXs = betaPort[0].sub(FF5[0]['RF'],axis=0)
niPortXs = niPort[0].sub(FF5[0]['RF'],axis=0)
varPortXs = varPort[0].sub(FF5[0]['RF'],axis=0)
rVarPortXs = rVarPort[0].sub(FF5[0]['RF'],axis=0)
acPortXs = acPort[0].sub(FF5[0]['RF'],axis=0)
momPortXs = momPort[0].sub(FF5[0]['RF'],axis=0)

In [153]:
def GRS(R,F): #GRS Statistics
    R=R.astype('float64')
    F=F.astype('float64')
    alphas = []
    alpha2=[]
    alphasquared=[]
    errors = []
    betas=[]
    returns=[]
    risquared=[]
    rsquared=[]
    bsealphas=[]
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alphas.append(fit.params["const"])
        alpha2.append(abs(fit.params["const"]))
        alphasquared.append(abs(fit.params["const"])**2)
        risquared.append((R[:][p].mean()-F['Mkt-RF'].mean())**2)
        betas.append(fit.params[1:])
        errors.append(fit.resid)
        returns.append(abs(R[:][p].mean()-F['Mkt-RF'].mean()))
        
        rsquared.append(fit.rsquared_adj)
        bsealphas.append(fit.bse["const"]**2)
   #For remaining statistics to compute mean. Convert list to arrasy
    alpha2=pd.np.array(alpha2)
    alphasquared=pd.np.array(alphasquared)
    returns=pd.np.array(returns)
    rsquared=pd.np.array(rsquared)
    bsealphas=pd.np.array(bsealphas)
    risquared=pd.np.array(risquared)
    #For GRS
    alphas = pd.np.array(alphas)
    errors = pd.np.array(errors).transpose()
    Ri=returns.mean()
    K = F.shape[1]
    T, N = errors.shape

    Ve = errors.transpose().dot(errors) / (T - K - 1)#unbiased estimate of the covariance matrix of residuals

    r = F.mean().values #step 5Factor mean vector

    f = F.values

    Vf = (f-r).transpose().dot(f-r) / (T - 1) #Step 7 unbiased estimate of the covariance matrix of the factors

    Sh2_a = alphas.dot(pd.np.linalg.pinv(Ve)).dot(alphas)
    Sh2_f = r.dot(pd.np.linalg.pinv(Vf)).dot(r)
    Sh2_a, Sh2_f
    ans=(T/N)*((T-N-K)/(T-K-1))*(Sh2_a/(1+Sh2_f))
    ans=ans.astype(float)
    #print("P-value of the GRS statistics: ",(1-f.cdf(ans,N,T-N-K)))
    #print("Average Absolute value of intercept A|ai|: ",alpha2.mean())
    #print("Average Absolute value of intercept/return A|ai|/A|ri| : ",alpha2.mean()/Ri)
    #print("Average Absolute value of intercept/return squared: ",(alpha2.mean()**2/Ri**2))
    #print("Average Absolute value of the As^2(ai)/A(ai)^2: ",(bsealphas.mean()))
    #print("Average value of the regression R^2 corrected for degress of freedom: ",rsquared.mean())
    return (ans,N,T-N-K,alpha2.mean(),alpha2.mean()/Ri,(alphasquared.mean()/risquared.mean()),(bsealphas.mean()/alphasquared.mean()),rsquared.mean())

In [154]:
#Factors
F1=FF5[0][['Mkt-RF']] #For portfolio beta only
F2=FF5[0][['Mkt-RF','SMB','HML']]
F3=FF5[0][['Mkt-RF','SMB','HML','RMW']]
F4=FF5[0][['Mkt-RF','SMB','HML','CMA']]
F5=FF5[0][['Mkt-RF','SMB','RMW','CMA']]
F6=FF5[0][['Mkt-RF','SMB','HML','RMW','CMA']]
#For Momentum Anomaly only
F71=FF6[['Mkt-RF','SMB','HML','Mom   ']]
F72=FF6[['Mkt-RF','SMB','HML','RMW','Mom   ']]
F73=FF6[['Mkt-RF','SMB','HML','CMA','Mom   ']]
F74=FF6[['Mkt-RF','SMB','RMW','CMA','Mom   ']]
F75=FF6[['Mkt-RF','SMB','HML','RMW','CMA','Mom   ']]

In [155]:
result=GRS(betaPortXs,F1)
#1-f.cdf(GRS(betaPortXs,F1)[0],GRS(betaPortXs,F1)[1],GRS(betaPortXs,F1)[2])

<ipython-input-153-b8f261998265>:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alpha2=pd.np.array(alpha2)
<ipython-input-153-b8f261998265>:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphasquared=pd.np.array(alphasquared)
<ipython-input-153-b8f261998265>:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  returns=pd.np.array(returns)
<ipython-input-153-b8f261998265>:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rsquared=pd.np.array(rsquared)
<ipython-input-153-b8f261998265>:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  bsealphas=pd.np.array(bsealphas)
<ipython-input-153-b8f261998265>:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  risquared=pd.np.array(risquared)
<ipython-input-153-b8f261998265>:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphas = pd.np.array(alphas)
<ipython-input-153-b8f261998265>:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  errors = pd.np.array(errors).transpose()
<ipython-input-153-b8f261998265>:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_a = alphas.dot(pd.np.linalg.pinv(Ve)).dot(alphas)
<ipython-input-153-b8f261998265>:49: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_f = r.dot(pd.np.linalg.pinv(Vf)).dot(r)

In [156]:
#Index name for GRS-Statistics
def indexname(f):
    name=""
    for data in list(f.columns):
        name=name+str(data)+" "
    return name
#Initialize
factorList=[F1,F2,F3,F4,F5,F6]
momfactorlist=[F2,F3,F4,F5,F6,F71,F72,F73,F74,F75]
portfolioList=[betaPortXs,niPortXs,varPortXs,rVarPortXs,acPortXs]
portnameList=["35 Size-NI Portffolio","25 Size-Var Portfolio","25 Size-RVar portfolios","25 Size-AC portfolios"] 
column_names=["Model Factors" , "GRS","p(GRS)" ,"A|ai|" ,"A|ai|/A|ri|","Aai^2/Ari^2","As^2(ai)/Aasi^2","A(R^2)"]
df=pd.DataFrame(columns=column_names)
counter=0

In [157]:
df.loc[0]=['25 Size Beta Portfolio',"","","","","","",""]
for fa in factorList:
    ans=GRS(betaPortXs,fa)
    counter+=1
    df.loc[counter]=[indexname(fa),ans[0],1-f.cdf(ans[0],ans[1],ans[2]),ans[3],ans[4],ans[5],ans[6],ans[7]]  

for port,name in list(zip(portfolioList[1:],portnameList)):
    counter+=1
    df.loc[counter]=[name,"","","","","","",""]
    for fa in factorList[1:]:
            ans=GRS(port,fa)
            counter+=1
            df.loc[counter]=[indexname(fa),ans[0],1-f.cdf(ans[0],ans[1],ans[2]),ans[3],ans[4],ans[5],ans[6],ans[7]]  
counter+=1       
df.loc[counter]=['25 Size Prior2-12 portfolios',"","","","","","",""]
for fa in momfactorlist:
    ans=GRS(momPortXs,fa)
    counter+=1
    df.loc[counter]=[indexname(fa),ans[0],1-f.cdf(ans[0],ans[1],ans[2]),ans[3],ans[4],ans[5],ans[6],ans[7]]

<ipython-input-153-b8f261998265>:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alpha2=pd.np.array(alpha2)
<ipython-input-153-b8f261998265>:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphasquared=pd.np.array(alphasquared)
<ipython-input-153-b8f261998265>:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  returns=pd.np.array(returns)
<ipython-input-153-b8f261998265>:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rsquared=pd.np.array(rsquared)
<ipython-input-153-b8f261998265>:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  bsealphas=pd.np.array(bsealphas)
<ipython-input-153-b8f261998265>:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  risquared=pd.np.array(risquared)
<ipython-input-153-b8f261998265>:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphas = pd.np.array(alphas)
<ipython-input-153-b8f261998265>:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  errors = pd.np.array(errors).transpose()
<ipython-input-153-b8f261998265>:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_a = alphas.dot(pd.np.linalg.pinv(Ve)).dot(alphas)
<ipython-input-153-b8f261998265>:49: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_f = r.dot(pd.np.linalg.pinv(Vf)).dot(r)

In [158]:
df.set_index('Model Factors',drop=True,inplace=True)
#print (df.to_string(index=False))

In [159]:
df.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,GRS,p(GRS),A|ai|,A|ai|/A|ri|,Aai^2/Ari^2,As^2(ai)/Aasi^2,A(R^2)
Model Factors,,,,,,,
25 Size Beta Portfolio,,,,,,,
Mkt-RF,2.246,0.001,0.232,0.984,0.994,0.177,0.751
Mkt-RF SMB HML,1.584,0.036,0.107,0.453,0.201,0.378,0.886
Mkt-RF SMB HML RMW,1.801,0.01,0.081,0.342,0.127,0.582,0.892
Mkt-RF SMB HML CMA,1.473,0.066,0.093,0.392,0.165,0.467,0.887
Mkt-RF SMB RMW CMA,1.841,0.008,0.073,0.31,0.103,0.762,0.887
Mkt-RF SMB HML RMW CMA,1.853,0.007,0.073,0.311,0.103,0.726,0.894
35 Size-NI Portffolio,,,,,,,
Mkt-RF SMB HML,4.258,0,0.139,0.523,0.405,0.18,0.871
Mkt-RF SMB HML RMW,3.675,0,0.114,0.429,0.237,0.298,0.878
Mkt-RF SMB HML CMA,3.996,0,0.131,0.492,0.344,0.212,0.873
Mkt-RF SMB RMW CMA,3.233,0,0.105,0.394,0.199,0.365,0.878
Mkt-RF SMB HML RMW CMA,3.244,0,0.105,0.394,0.199,0.355,0.881
25 Size-Var Portfolio,,,,,,,
Mkt-RF SMB HML,6.138,0,0.22,0.732,0.852,0.063,0.87
Mkt-RF SMB HML RMW,5.37,0,0.143,0.476,0.466,0.102,0.888
Mkt-RF SMB HML CMA,6.107,0,0.206,0.687,0.777,0.07,0.871
Mkt-RF SMB RMW CMA,5.192,0,0.134,0.446,0.359,0.142,0.881
Mkt-RF SMB HML RMW CMA,5.219,0,0.134,0.446,0.359,0.133,0.891
25 Size-RVar portfolios,,,,,,,
Mkt-RF SMB HML,7.237,0,0.222,0.71,0.808,0.058,0.883
Mkt-RF SMB HML RMW,6.373,0,0.14,0.448,0.427,0.096,0.899
Mkt-RF SMB HML CMA,7.172,0,0.213,0.68,0.747,0.063,0.883
Mkt-RF SMB RMW CMA,5.958,0,0.123,0.392,0.324,0.137,0.891
Mkt-RF SMB HML RMW CMA,6.008,0,0.123,0.392,0.324,0.128,0.901
25 Size-AC portfolios,,,,,,,
Mkt-RF SMB HML,3.844,0,0.116,0.506,0.264,0.269,0.911
Mkt-RF SMB HML RMW,4.561,0,0.146,0.639,0.416,0.167,0.914
Mkt-RF SMB HML CMA,3.448,0,0.099,0.433,0.203,0.35,0.912
Mkt-RF SMB RMW CMA,3.753,0,0.128,0.557,0.317,0.225,0.914
Mkt-RF SMB HML RMW CMA,3.851,0,0.128,0.556,0.317,0.224,0.915
25 Size Prior2-12 portfolios,,,,,,,
Mkt-RF SMB HML,5.081,0,0.319,0.973,1.112,0.058,0.847
Mkt-RF SMB HML RMW,4.73,0,0.303,0.925,0.945,0.068,0.853
Mkt-RF SMB HML CMA,4.747,0,0.297,0.905,0.963,0.068,0.848
Mkt-RF SMB RMW CMA,4.373,0,0.275,0.838,0.75,0.092,0.845
Mkt-RF SMB HML RMW CMA,4.376,0,0.274,0.838,0.749,0.087,0.854
Mkt-RF SMB HML Mom,3.894,0,0.135,0.411,0.17,0.198,0.914
Mkt-RF SMB HML RMW Mom,3.787,0,0.119,0.362,0.145,0.225,0.92
Mkt-RF SMB HML CMA Mom,3.744,0,0.134,0.409,0.166,0.205,0.914
Mkt-RF SMB RMW CMA Mom,3.718,0,0.122,0.372,0.15,0.227,0.917
Mkt-RF SMB HML RMW CMA Mom,3.692,0,0.12,0.365,0.146,0.226,0.921

### 2.3 The five factor model vs FF three factor model

In [160]:
RMWexposure=GRS(FF5[0][['RMW']],F2)
CMAexposure=GRS(FF5[0][['CMA']],F2)

<ipython-input-153-b8f261998265>:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alpha2=pd.np.array(alpha2)
<ipython-input-153-b8f261998265>:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphasquared=pd.np.array(alphasquared)
<ipython-input-153-b8f261998265>:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  returns=pd.np.array(returns)
<ipython-input-153-b8f261998265>:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rsquared=pd.np.array(rsquared)
<ipython-input-153-b8f261998265>:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  bsealphas=pd.np.array(bsealphas)
<ipython-input-153-b8f261998265>:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  risquared=pd.np.array(risquared)
<ipython-input-153-b8f261998265>:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphas = pd.np.array(alphas)
<ipython-input-153-b8f261998265>:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  errors = pd.np.array(errors).transpose()
<ipython-input-153-b8f261998265>:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_a = alphas.dot(pd.np.linalg.pinv(Ve)).dot(alphas)
<ipython-input-153-b8f261998265>:49: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_f = r.dot(pd.np.linalg.pinv(Vf)).dot(r)

In [161]:
RMWexposure #return (grs,N,T-N-K,alpha2.mean(),alpha2.mean()/Ri,(alphasquared.mean()/risquared.mean()),(bsealphas.mean()/alphasquared.mean()),rsquared.mean())
CMAexposure

(12.127891912400196,
 1,
 614,
 0.19782252018339444,
 1.0643767845493455,
 1.1328979394876038,
 0.08246044901480115,
 0.5325692604844768)

In [162]:
modelCMA = sm.OLS(FF5[0][['CMA']], sm.add_constant(F2))
modelCMA.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    CMA   R-squared:                       0.535
Model:                            OLS   Adj. R-squared:                  0.533
Method:                 Least Squares   F-statistic:                     235.3
Date:                Fri, 18 Dec 2020   Prob (F-statistic):          1.30e-101
Time:                        17:16:19   Log-Likelihood:                -1074.2
No. Observations:                 618   AIC:                             2156.
Df Residuals:                     614   BIC:                             2174.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1978      0.057      3.482      0.001       0.086       0.309
Mkt-RF        -0.0976      0.013     -7.261      0.000      -0.124      -0.071
SMB           -0.0011      0.019     -0.059      0.953      -0.038       0.036
HML            0.4600      0.021     22.432      0.000       0.420       0.500
==============================================================================
Omnibus:                       21.640   Durbin-Watson:                   1.853
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.537
Skew:                           0.130   Prob(JB):                     4.76e-11
Kurtosis:                       4.334   Cond. No.                         4.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [163]:
modelRMW = sm.OLS(FF5[0][['RMW']], sm.add_constant(F2))
modelRMW.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    RMW   R-squared:                       0.139
Model:                            OLS   Adj. R-squared:                  0.135
Method:                 Least Squares   F-statistic:                     33.15
Date:                Fri, 18 Dec 2020   Prob (F-statistic):           7.24e-20
Time:                        17:16:19   Log-Likelihood:                -1326.2
No. Observations:                 618   AIC:                             2660.
Df Residuals:                     614   BIC:                             2678.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3573      0.085      4.184      0.000       0.190       0.525
Mkt-RF        -0.0688      0.020     -3.404      0.001      -0.108      -0.029
SMB           -0.2256      0.029     -7.904      0.000      -0.282      -0.170
HML            0.0113      0.031      0.366      0.714      -0.049       0.072
==============================================================================
Omnibus:                       96.067   Durbin-Watson:                   1.599
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1230.480
Skew:                          -0.073   Prob(JB):                    6.38e-268
Kurtosis:                       9.911   Cond. No.                         4.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 2.4 An equivalent five factor model

In [164]:
#Equivalent five factore model
HMLexposure=GRS(FF5[0][['HML']],F5)
HMLexposure

<ipython-input-153-b8f261998265>:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alpha2=pd.np.array(alpha2)
<ipython-input-153-b8f261998265>:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphasquared=pd.np.array(alphasquared)
<ipython-input-153-b8f261998265>:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  returns=pd.np.array(returns)
<ipython-input-153-b8f261998265>:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rsquared=pd.np.array(rsquared)
<ipython-input-153-b8f261998265>:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  bsealphas=pd.np.array(bsealphas)
<ipython-input-153-b8f261998265>:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  risquared=pd.np.array(risquared)
<ipython-input-153-b8f261998265>:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  alphas = pd.np.array(alphas)
<ipython-input-153-b8f261998265>:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  errors = pd.np.array(errors).transpose()
<ipython-input-153-b8f261998265>:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_a = alphas.dot(pd.np.linalg.pinv(Ve)).dot(alphas)
<ipython-input-153-b8f261998265>:49: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Sh2_f = r.dot(pd.np.linalg.pinv(Vf)).dot(r)

(0.00030767938487675774,
 1,
 613,
 0.0014805408045509838,
 0.011397287209921635,
 0.00012989815574544327,
 3250.657736526995,
 0.5006616953708781)

In [165]:
model = sm.OLS(FF5[0][['HML']], sm.add_constant(F5))

In [166]:
model.fit().summary() #Constant is around 0.0016, does not really add value or means that nothing is lost in explanation of average returns 
#if we drop HML from the model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    HML   R-squared:                       0.504
Model:                            OLS   Adj. R-squared:                  0.501
Method:                 Least Squares   F-statistic:                     155.7
Date:                Fri, 18 Dec 2020   Prob (F-statistic):           7.65e-92
Time:                        17:16:19   Log-Likelihood:                -1300.2
No. Observations:                 618   AIC:                             2610.
Df Residuals:                     613   BIC:                             2633.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0015      0.084     -0.018      0.986      -0.167       0.164
Mkt-RF         0.0171      0.021      0.830      0.407      -0.023       0.057
SMB            0.0268      0.029      0.932      0.352      -0.030       0.083
RMW            0.1514      0.039      3.868      0.000       0.075       0.228
CMA            1.0039      0.044     23.008      0.000       0.918       1.090
==============================================================================
Omnibus:                       42.454   Durbin-Watson:                   1.725
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              145.947
Skew:                          -0.206   Prob(JB):                     2.03e-32
Kurtosis:                       5.345   Cond. No.                         5.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [167]:
##Calculate HMLO
HMLO=model.fit().params[0]+model.fit().resid
HMLO

Date
1963-07    0.243781
1963-08    1.945587
1963-09    0.093831
1963-10    1.723674
1963-11   -0.413395
             ...
2014-08    0.134607
2014-09   -0.831468
2014-10   -1.701555
2014-11   -3.278496
2014-12    1.396545
Freq: M, Length: 618, dtype: float64

## 3. Market Beta

In [168]:
dt3=betaPortXs.mean()
dt3
dt3sd=betaPortXs.std()
dt3sd

SMALL LoBETA    4.404444
ME1 BETA2       5.092372
ME1 BETA3       5.946667
ME1 BETA4       6.514479
SMALL HiBETA    8.230605
ME2 BETA1       4.303275
ME2 BETA2       4.776218
ME2 BETA3       5.472472
ME2 BETA4       6.204383
ME2 BETA5       7.912692
ME3 BETA1       3.859098
ME3 BETA2       4.643507
ME3 BETA3       5.225233
ME3 BETA4       5.984497
ME3 BETA5       7.665540
ME4 BETA1       3.881337
ME4 BETA2       4.623011
ME4 BETA3       5.168256
ME4 BETA4       5.839759
ME4 BETA5       7.589291
BIG LoBETA      3.627947
ME5 BETA2       4.254481
ME5 BETA3       4.874660
ME5 BETA4       5.703102
BIG HiBETA      7.144848
dtype: float64

In [169]:

# List of tuples
students = [ (' ', '  ' , 'Mean' , ' ',' ',' ',' ',' ','SD',' ', ' '),
             (dt3[0], dt3[1], dt3[2] , dt3[3],dt3[4],' ',dt3sd[0], dt3sd[1], dt3sd[2] , dt3sd[3],dt3sd[4]) ,
             (dt3[5], dt3[6], dt3[7] , dt3[8],dt3[9],' ',dt3sd[5], dt3sd[6], dt3sd[7] , dt3sd[8],dt3sd[9]) ,
             (dt3[10], dt3[11], dt3[12] , dt3[13],dt3[14],' ',dt3sd[10], dt3sd[11], dt3sd[12] , dt3sd[13],dt3sd[14]) ,
             (dt3[15], dt3[16], dt3[17] , dt3[18],dt3[19],' ',dt3sd[15], dt3sd[16], dt3sd[17] , dt3sd[18],dt3sd[19]) ,
             (dt3[20], dt3[21], dt3[22] , dt3[23],dt3[24],' ',dt3sd[20], dt3sd[21], dt3sd[22] , dt3sd[23],dt3sd[24]) ]
# Create DataFrame object from a list of tuples
table3 = pd.DataFrame(students, columns = ['Low β' , '2', '3' , '4','High β',' ','Low β' , '2', '3' , '4','High β'], index=['','small', '2', '3' , '4' , 'Big'])
table3.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

       Low β      2      3      4 High β     Low β      2      3      4 High β
                      Mean                                    SD
small  0.729  0.891  0.928  0.972  0.797     4.404  5.092  5.947  6.514  8.231
2      0.706  0.868  0.951  0.885  0.716     4.303  4.776  5.472  6.204  7.913
3      0.689  0.863  0.839  0.805  0.753     3.859  4.644  5.225  5.984  7.666
4      0.669  0.762  0.734  0.587  0.753     3.881  4.623  5.168   5.84  7.589
Big    0.488  0.517  0.495  0.497  0.405     3.628  4.254  4.875  5.703  7.145

In [170]:
#B/M=6/7 OP= 9 INV=10 PRIOR B= 8
dt3a=betaPort[6].mean()
dt3b=betaPort[9].mean()
# List of tuples
students = [ (' ', '  ' , 'B/M' , ' ',' ',' ',' ',' ','OP',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3a = pd.DataFrame(students, columns = ['Low β' , '2', '3' , '4','High β',' ','Low β' , '2', '3' , '4','High β'], index=['','small', '2', '3' , '4' , 'Big'])
table3a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

       Low β      2      3      4 High β     Low β      2      3      4 High β
                       B/M                                    OP
small  0.978  1.028  1.032  1.032  0.935     0.167  0.158   0.17  0.791  0.045
2      0.858  0.852  0.826  0.803   0.74     0.266   0.26  0.377  0.341  0.241
3       0.82  0.773  0.729  0.695  0.662     0.272  0.308  0.338  0.344  0.327
4      0.757  0.686  0.669  0.667  0.642     0.315  0.382  0.321  0.343  0.323
Big    0.611  0.478  0.543  0.532  0.616     0.404  0.467  0.372  0.367  0.332

In [171]:
#B/M=6/7 OP= 9 INV=10 PRIOR B= 8
dt3a=betaPort[10].mean()
dt3b=betaPort[8].mean()
# List of tuples
students = [ (' ', '  ' , 'Inv' , ' ',' ',' ',' ',' ','Prior-Beta',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3b = pd.DataFrame(students, columns = ['Low β' , '2', '3' , '4','High β',' ','Low β' , '2', '3' , '4','High β'], index=['','small', '2', '3' , '4' , 'Big'])
table3b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low β,2,3,4,High β,,Low β,2,3,4,High β
,,,Inv,,,,,,Prior-Beta,,
small,0.098,0.087,0.096,0.095,0.123,,0.321,0.837,1.151,1.512,2.479
2,0.11,0.108,0.122,0.135,0.178,,0.381,0.839,1.154,1.507,2.397
3,0.111,0.115,0.124,0.142,0.195,,0.383,0.838,1.15,1.498,2.296
4,0.099,0.11,0.118,0.129,0.187,,0.397,0.84,1.147,1.497,2.233
Big,0.091,0.11,0.133,0.142,0.181,,0.423,0.828,1.144,1.48,2.097

In [172]:
##Continue to the deeper regression on each port
def regMarket(R,F):
    alpha=[]
    beta=[]
    tstata=[]
    tstatb=[]
    c=[]
    tstatc=[]
    d=[]
    tstatd=[]
    
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alpha.append(fit.params["const"])
        beta.append(fit.params[1])
        tstata.append(fit.tvalues[0])
        tstatb.append(fit.tvalues[1])
    
        
    return (alpha,beta,tstata,tstatb)
def regCAPM(R,F):
    alpha=[]
    beta=[]
    tstata=[]
    tstatb=[]
    c=[]
    tstatc=[]
    d=[]
    tstatd=[]
    
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alpha.append(fit.params["const"])
        beta.append(fit.params[1])
        tstata.append(fit.tvalues[0])
        tstatb.append(fit.tvalues[1])
        c.append(fit.params[2])
        tstatc.append(fit.tvalues[2])
        d.append(fit.params[3])
        tstatd.append(fit.tvalues[3])
        
    return (alpha,beta,tstata,tstatb,c,tstatc,d,tstatd)
def regFourFactor(R,F):
    alpha=[]
    beta=[]
    tstata=[]
    tstatb=[]
    c=[]
    tstatc=[]
    d=[]
    tstatd=[]
    e=[]
    tstate=[]
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alpha.append(fit.params["const"])
        beta.append(fit.params[1])
        tstata.append(fit.tvalues[0])
        tstatb.append(fit.tvalues[1])
        c.append(fit.params[2])
        tstatc.append(fit.tvalues[2])
        d.append(fit.params[3])
        tstatd.append(fit.params[3])
        e.append(fit.params[4])
        tstate.append(fit.tvalues[4])
    return (alpha,beta,tstata,tstatb,c,tstatc,d,tstatd,e,tstate)
            
def regFivefactor(R,F):
    alpha=[]
    beta=[]
    s=[]
    h=[]
    r=[]
    c=[]
    tstata=[]
    tstatb=[]
    tstats=[]
    tstath=[]
    tstatr=[]
    tstatc=[]
       
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alpha.append(fit.params["const"])
        beta.append(fit.params[1])
        s.append(fit.params[2])
        h.append(fit.params[3])
        r.append(fit.params[4])
        c.append(fit.params[5])
        tstata.append(fit.tvalues[0])
        tstatb.append(fit.tvalues[1])
        tstats.append(fit.tvalues[2])
        tstath.append(fit.tvalues[3])
        tstatr.append(fit.tvalues[4])
        tstatc.append(fit.tvalues[5])
    return (alpha,beta,tstata,tstatb,s,tstats,h,tstath,r,tstatr,c,tstatc)
def regSixfactor(R,F):
    alpha=[]
    beta=[]
    s=[]
    h=[]
    r=[]
    c=[]
    tstata=[]
    tstatb=[]
    tstats=[]
    tstath=[]
    tstatr=[]
    tstatc=[]
    m=[]
    tstatm=[]
       
    for p in R.columns:
        model = sm.OLS(R[:][p], sm.add_constant(F[:]))
        fit = model.fit()
        alpha.append(fit.params["const"])
        beta.append(fit.params[1])
        s.append(fit.params[2])
        h.append(fit.params[3])
        r.append(fit.params[4])
        c.append(fit.params[5])
        m.append(fit.params[6])
        tstata.append(fit.tvalues[0])
        tstatb.append(fit.tvalues[1])
        tstats.append(fit.tvalues[2])
        tstath.append(fit.tvalues[3])
        tstatr.append(fit.tvalues[4])
        tstatc.append(fit.tvalues[5])
        tstatm.append(fit.tvalues[6])
    return (alpha,beta,tstata,tstatb,s,tstats,h,tstath,r,tstatr,c,tstatc,m,tstatm)

In [173]:

result3a=regMarket(betaPortXs,F1)

In [174]:

# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ('', '  ' , 'b' , ' ',' ',' ',' ',' ','t(b)',' ', ' '),
             (result3a[1][0], result3a[1][1], result3a[1][2] , result3a[1][3],result3a[1][4],' ',result3a[3][0], result3a[3][1], result3a[3][2] , result3a[3][3],result3a[3][4]) ,
             (result3a[1][5], result3a[1][6], result3a[1][7] , result3a[1][8],result3a[1][9],' ',result3a[3][5], result3a[3][6], result3a[3][7] , result3a[3][8],result3a[3][9]) ,
             (result3a[1][10], result3a[1][11], result3a[1][12] , result3a[1][13],result3a[1][14],' ',result3a[3][10], result3a[3][11], result3a[3][12] , result3a[3][13],result3a[3][14]) ,
             (result3a[1][15], result3a[1][16], result3a[1][17] , result3a[1][18],result3a[1][19],' ',result3a[3][15], result3a[3][16], result3a[3][17] , result3a[3][18],result3a[3][19]) ,
             (result3a[1][20], result3a[1][21], result3a[1][22] , result3a[1][23],result3a[1][24],' ',result3a[3][20], result3a[3][21], result3a[3][22] , result3a[3][23],result3a[3][24])]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low β' , '2', '3' , '4','High β',' ','Low β' , '2', '3' , '4','High β'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low β,2,3,4,High β,,Low β,2,3,4,High β
,,,a,,,,,,t(a),,
small,0.347,0.434,0.399,0.359,0.046,,3,3.41,2.654,2.412,0.232
2,0.316,0.411,0.41,0.271,-0.071,,2.991,3.916,3.717,2.177,-0.45
3,0.326,0.389,0.304,0.195,-0.027,,3.698,4.645,3.268,1.801,-0.191
4,0.304,0.278,0.186,-0.029,-0.026,,3.434,3.755,2.443,-0.33,-0.192
Big,0.15,0.067,-0.03,-0.113,-0.314,,1.777,1.047,-0.48,-1.424,-2.32
,,,b,,,,,,t(b),,
small,0.752,0.899,1.044,1.207,1.479,,29.114,31.622,31.145,36.3,33.183
2,0.768,0.901,1.065,1.209,1.549,,32.573,38.49,43.256,43.509,44.289
3,0.715,0.933,1.053,1.202,1.537,,36.324,49.925,50.73,49.795,49.36
4,0.72,0.953,1.08,1.215,1.533,,36.512,57.6,63.503,61.427,51.389
Big,0.666,0.886,1.036,1.202,1.417,,35.237,61.785,73.031,67.979,46.844

In [175]:
## Five Factor regression with HML->HMLO
test=F2.copy()
test=test.drop(['HML'],axis=1)
test['HMLO']=HMLO
test['RMW']=F5['RMW']
test['CMA']=F5['CMA']

In [176]:
result3a=regFivefactor(betaPortXs,test) #For five factor regression

In [177]:
#List of tuples
reg5Fdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ('', '  ' , 'b' , ' ',' ',' ',' ',' ','t(b)',' ', ' '),
             (result3a[1][0], result3a[1][1], result3a[1][2] , result3a[1][3],result3a[1][4],' ',result3a[3][0], result3a[3][1], result3a[3][2] , result3a[3][3],result3a[3][4]) ,
             (result3a[1][5], result3a[1][6], result3a[1][7] , result3a[1][8],result3a[1][9],' ',result3a[3][5], result3a[3][6], result3a[3][7] , result3a[3][8],result3a[3][9]) ,
             (result3a[1][10], result3a[1][11], result3a[1][12] , result3a[1][13],result3a[1][14],' ',result3a[3][10], result3a[3][11], result3a[3][12] , result3a[3][13],result3a[3][14]) ,
             (result3a[1][15], result3a[1][16], result3a[1][17] , result3a[1][18],result3a[1][19],' ',result3a[3][15], result3a[3][16], result3a[3][17] , result3a[3][18],result3a[3][19]) ,
             (result3a[1][20], result3a[1][21], result3a[1][22] , result3a[1][23],result3a[1][24],' ',result3a[3][20], result3a[3][21], result3a[3][22] , result3a[3][23],result3a[3][24]),
             ('', '  ' , 's' , ' ',' ',' ',' ',' ','t(s)',' ', ' '),
             (result3a[4][0], result3a[4][1], result3a[4][2] , result3a[4][3],result3a[4][4],' ',result3a[5][0], result3a[5][1], result3a[5][2] , result3a[5][3],result3a[5][4]),
             (result3a[4][5], result3a[4][6], result3a[4][7] , result3a[4][8],result3a[4][9],' ',result3a[5][5], result3a[5][6], result3a[5][7] , result3a[5][8],result3a[5][9]),
             (result3a[4][10], result3a[4][11], result3a[4][12] , result3a[4][13],result3a[4][14],' ',result3a[5][10], result3a[5][11], result3a[5][12] , result3a[5][13],result3a[5][14]),
             (result3a[4][15], result3a[4][16], result3a[4][17] , result3a[4][18],result3a[4][19],' ',result3a[5][15], result3a[5][16], result3a[5][17] , result3a[5][18],result3a[5][19]),
             (result3a[4][20], result3a[4][21], result3a[4][22] , result3a[4][23],result3a[4][24],' ',result3a[5][20], result3a[5][21], result3a[5][22] , result3a[5][23],result3a[5][24]),
             ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]), 
             ('', '  ' , 'r' , ' ',' ',' ',' ',' ','t(r)',' ', ' '),
             (result3a[8][0], result3a[8][1], result3a[8][2] , result3a[8][3],result3a[8][4],' ',result3a[9][0], result3a[9][1], result3a[9][2] , result3a[9][3],result3a[9][4]) ,
             (result3a[8][5], result3a[8][6], result3a[8][7] , result3a[8][8],result3a[8][9],' ',result3a[9][5], result3a[9][6], result3a[9][7] , result3a[9][8],result3a[9][9]) ,
             (result3a[8][10], result3a[8][11], result3a[8][12] , result3a[8][13],result3a[8][14],' ',result3a[9][10], result3a[9][11], result3a[9][12] , result3a[9][13],result3a[9][14]) ,
             (result3a[8][15], result3a[8][16], result3a[8][17] , result3a[8][18],result3a[8][19],' ',result3a[9][15], result3a[9][16], result3a[9][17] , result3a[9][18],result3a[9][19]) ,
             (result3a[8][20], result3a[8][21], result3a[8][22] , result3a[8][23],result3a[8][24],' ',result3a[9][20], result3a[9][21], result3a[9][22] , result3a[9][23],result3a[9][24]),
             ('', '  ' , 'c' , ' ',' ',' ',' ',' ','t(c)',' ', ' '),
             (result3a[10][0], result3a[10][1], result3a[10][2] , result3a[10][3],result3a[10][4],' ',result3a[11][0], result3a[11][1], result3a[11][2] , result3a[11][3],result3a[11][4]) ,
             (result3a[10][5], result3a[10][6], result3a[10][7] , result3a[10][8],result3a[10][9],' ',result3a[11][5], result3a[11][6], result3a[11][7] , result3a[11][8],result3a[11][9]) ,
             (result3a[10][10], result3a[10][11], result3a[10][12] , result3a[10][13],result3a[10][14],' ',result3a[11][10], result3a[11][11], result3a[11][12] , result3a[11][13],result3a[11][14]) ,
             (result3a[10][15], result3a[10][16], result3a[10][17] , result3a[10][18],result3a[10][19],' ',result3a[11][15], result3a[11][16], result3a[11][17] , result3a[11][18],result3a[11][19]) ,
             (result3a[10][20], result3a[10][21], result3a[10][22] , result3a[10][23],result3a[10][24],' ',result3a[11][20], result3a[11][21], result3a[11][22] , result3a[11][23],result3a[11][24])]



# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5Fdata, columns = ['Low β' , '2', '3' , '4','High β',' ','Low β' , '2', '3' , '4','High β'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low β,2,3,4,High β,,Low β,2,3,4,High β
,,,a,,,,,,t(a),,
small,0.081,0.074,0.062,0.079,0.002,,1.227,1.154,0.936,1.295,0.026
2,0.03,0.034,0.061,-0.061,-0.142,,0.4,0.615,1.04,-1.025,-1.88
3,0.069,0.095,-0.004,-0.104,-0.023,,0.913,1.603,-0.057,-1.477,-0.261
4,0.045,-0.025,-0.094,-0.247,0.098,,0.546,-0.395,-1.448,-3.14,0.881
Big,-0.083,-0.085,-0.089,-0.093,-0.055,,-1.256,-1.611,-1.508,-1.147,-0.407
,,,b,,,,,,t(b),,
small,0.663,0.81,0.896,1.03,1.144,,41.296,51.585,55.817,69.578,56.342
2,0.73,0.861,0.997,1.098,1.295,,40.537,64.261,70.15,75.938,70.331
3,0.75,0.922,1.019,1.132,1.312,,40.792,64.138,67.786,65.975,59.974
4,0.813,1.011,1.109,1.201,1.344,,40.735,65.866,69.882,62.663,49.788
Big,0.831,0.987,1.083,1.177,1.299,,51.745,76.792,75.03,59.467,39.165
,,,s,,,,,,t(s),,
small,0.774,0.918,1.117,1.138,1.397,,34.446,41.792,49.758,54.95,49.154
2,0.606,0.743,0.808,0.952,1.11,,24.038,39.604,40.657,47.063,43.092
3,0.278,0.502,0.608,0.732,0.869,,10.807,24.933,28.912,30.469,28.416
4,0.051,0.243,0.318,0.388,0.556,,1.84,11.308,14.332,14.474,14.734
Big,-0.277,-0.168,-0.108,0.053,0.049,,-12.325,-9.358,-5.327,1.9,1.06
,,,h,,,,,,t(h),,
small,0.316,0.281,0.236,0.228,-0.068,,10.024,9.113,7.49,7.848,-1.715
2,0.339,0.297,0.236,0.156,-0.057,,9.587,11.31,8.466,5.516,-1.57
3,0.361,0.18,0.175,0.174,-0.119,,9.997,6.361,5.942,5.162,-2.774
4,0.266,0.162,0.113,0.174,-0.058,,6.798,5.38,3.613,4.615,-1.092
Big,0.063,0.029,0.055,0.103,-0.066,,1.997,1.151,1.931,2.646,-1.011
,,,r,,,,,,t(r),,
small,0.023,0.13,-0.003,-0.009,-0.485,,0.742,4.353,-0.098,-0.335,-12.549
2,0.107,0.273,0.262,0.185,-0.228,,3.122,10.72,9.686,6.732,-6.505
3,0.138,0.233,0.271,0.25,-0.171,,3.949,8.522,9.494,7.667,-4.116
4,0.195,0.319,0.328,0.244,-0.348,,5.128,10.92,10.861,6.688,-6.779
Big,0.303,0.313,0.254,0.1,-0.276,,9.93,12.808,9.271,2.666,-4.376
,,,c,,,,,,t(c),,
small,0.315,0.399,0.367,0.227,-0.079,,9.251,11.992,10.772,7.228,-1.839
2,0.366,0.398,0.314,0.273,-0.099,,9.591,14.024,10.432,8.911,-2.541
3,0.404,0.328,0.286,0.231,-0.227,,10.381,10.752,8.968,6.35,-4.902
4,0.455,0.386,0.293,0.179,-0.251,,10.751,11.871,8.723,4.398,-4.392
Big,0.44,0.191,-0.014,-0.148,-0.431,,12.925,7.021,-0.457,-3.529,-6.135

### 4.NI Net Share Issues

In [178]:
dt3=niPortXs.mean()
dt3
dt3sd=niPortXs.std()
dt3sd.head()

SMALL NegNI     5.667709
SMALL ZeroNI    5.705591
SMALL LoNI      6.362067
ME1 NI2         6.432492
ME1 NI3         6.857032
dtype: float64

In [179]:
# List of tuples
students = [ (' ',' ',' ','Mean',' ',' ',' ',' ',' ',' ',' ','SD',' ',' ', ' '),
             (dt3[0], dt3[1], dt3[2] , dt3[3],dt3[4],dt3[5], dt3[6],' ',dt3sd[0], dt3sd[1], dt3sd[2] , dt3sd[3],dt3sd[4],dt3sd[5], dt3sd[6]),
             (dt3[7], dt3[8], dt3[9] , dt3[10],dt3[11],dt3[12], dt3[13],' ',dt3sd[7], dt3sd[8], dt3sd[9] , dt3sd[10],dt3sd[11],dt3sd[12], dt3sd[13]),
             (dt3[14], dt3[15], dt3[16],dt3[17],dt3[18],dt3[19], dt3[20],' ',dt3sd[14], dt3sd[15], dt3sd[16] , dt3sd[17],dt3sd[18],dt3sd[19], dt3sd[20]),
             (dt3[21], dt3[22], dt3[23] , dt3[24],dt3[25],dt3[26], dt3[27],' ',dt3sd[21], dt3sd[22], dt3sd[23] , dt3sd[24],dt3sd[25],dt3sd[26], dt3sd[27]),
             (dt3[28], dt3[29], dt3[30] , dt3[31],dt3[32],dt3[33], dt3[34],' ',dt3sd[28], dt3sd[29], dt3sd[30] , dt3sd[31],dt3sd[32],dt3sd[33], dt3sd[34])]
# Create DataFrame object from a list of tuples
table3 = pd.DataFrame(students, columns = ['Neg','Zero','Low' , '2', '3' , '4','High ',' ','Neg','Zero','Low', '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Neg,Zero,Low,2,3,4,High,,Neg,Zero,Low,2,3,4,High
,,,,Mean,,,,,,,,SD,,,
small,1.041,0.763,0.9,0.95,1.021,0.698,0.243,,5.668,5.706,6.362,6.432,6.857,7.121,7.738
2,0.91,0.803,0.914,0.913,0.851,0.813,0.306,,5.304,5.633,5.839,6.127,6.32,6.53,7.08
3,0.964,0.752,0.834,0.93,0.833,0.723,0.287,,5.078,5.431,5.282,5.628,5.835,6.017,6.548
4,0.941,0.56,0.653,0.687,0.821,0.622,0.363,,4.912,4.885,5.07,5.336,5.455,5.809,6.186
Big,0.616,0.609,0.491,0.479,0.59,0.432,0.177,,4.176,4.787,4.248,4.551,4.859,5.418,5.121

In [180]:
#6: B/M  10:OP 11:inv  8:NI
dt3a=niPort[6].mean()
dt3b=niPort[10].mean()
dt3b['BIG ZeroNI']=niPort[10]['BIG ZeroNI'].median()#Some error in the dataset. Already screenshot
dt3b.round(6)
# List of tuples
students = [ (' ',' ',' ','B/M',' ',' ',' ',' ',' ',' ',' ','OP',' ',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],dt3a[5], dt3a[6],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4],dt3b[5], dt3b[6]),
             (dt3a[7], dt3a[8], dt3a[9] , dt3a[10],dt3a[11],dt3a[12], dt3a[13],' ',dt3b[7], dt3b[8], dt3b[9] , dt3b[10],dt3b[11],dt3b[12], dt3b[13]),
             (dt3a[14], dt3a[15], dt3a[16],dt3a[17],dt3a[18],dt3a[19], dt3a[20],' ',dt3b[14], dt3b[15], dt3b[16] , dt3b[17],dt3b[18],dt3b[19], dt3b[20]),
             (dt3a[21], dt3a[22], dt3a[23] , dt3a[24],dt3a[25],dt3a[26], dt3a[27],' ',dt3b[21], dt3b[22], dt3b[23] , dt3b[24],dt3b[25],dt3b[26], dt3b[27]),
             (dt3a[28], dt3a[29], dt3a[30] , dt3a[31],dt3a[32],dt3a[33], dt3a[34],' ',dt3b[28], dt3b[29], dt3b[30] , dt3b[31],dt3b[32],dt3b[33], dt3b[34])]
# Create DataFrame object from a list of tuples
table3a = pd.DataFrame(students, columns = ['Neg','Zero','Low' , '2', '3' , '4','High ',' ','Neg','Zero','Low', '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Neg,Zero,Low,2,3,4,High,,Neg,Zero,Low,2,3,4,High
,,,,B/M,,,,,,,,OP,,,
small,1.045,1.153,1.005,0.916,0.853,0.749,0.682,,0.605,0.237,0.213,0.228,0.212,0.097,-0.091
2,0.845,0.981,0.838,0.771,0.71,0.661,0.619,,0.308,0.43,0.275,0.281,0.359,0.251,0.25
3,0.764,0.882,0.809,0.701,0.657,0.633,0.625,,0.332,0.316,0.301,0.301,0.32,0.32,0.281
4,0.674,0.858,0.755,0.65,0.641,0.642,0.652,,0.393,0.29,0.3,0.303,0.376,0.305,0.249
Big,0.569,0.731,0.551,0.487,0.494,0.58,0.674,,0.427,0.293,0.346,0.369,0.487,0.333,0.302

In [181]:
#6: B/M  10:OP 11:inv  8:NI
dt3a=niPort[11].mean()
dt3b=niPort[8].mean()
# List of tuples
students = [ (' ',' ',' ','Inv',' ',' ',' ',' ',' ',' ',' ','NI',' ',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],dt3a[5], dt3a[6],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4],dt3b[5], dt3b[6]),
             (dt3a[7], dt3a[8], dt3a[9] , dt3a[10],dt3a[11],dt3a[12], dt3a[13],' ',dt3b[7], dt3b[8], dt3b[9] , dt3b[10],dt3b[11],dt3b[12], dt3b[13]),
             (dt3a[14], dt3a[15], dt3a[16],dt3a[17],dt3a[18],dt3a[19], dt3a[20],' ',dt3b[14], dt3b[15], dt3b[16] , dt3b[17],dt3b[18],dt3b[19], dt3b[20]),
             (dt3a[21], dt3a[22], dt3a[23] , dt3a[24],dt3a[25],dt3a[26], dt3a[27],' ',dt3b[21], dt3b[22], dt3b[23] , dt3b[24],dt3b[25],dt3b[26], dt3b[27]),
             (dt3a[28], dt3a[29], dt3a[30] , dt3a[31],dt3a[32],dt3a[33], dt3a[34],' ',dt3b[28], dt3b[29], dt3b[30] , dt3b[31],dt3b[32],dt3b[33], dt3b[34])]
# Create DataFrame object from a list of tuples
table3b = pd.DataFrame(students, columns = ['Neg','Zero','Low' , '2', '3' , '4','High ',' ','Neg','Zero','Low', '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Neg,Zero,Low,2,3,4,High,,Neg,Zero,Low,2,3,4,High
,,,,Inv,,,,,,,,NI,,,
small,0.054,0.057,0.068,0.073,0.088,0.131,0.43,,-5.044,0,0.137,0.522,1.284,3.837,35.62
2,0.072,0.094,0.092,0.101,0.124,0.16,0.425,,-4.51,0,0.14,0.518,1.287,3.899,33.8
3,0.071,0.097,0.087,0.105,0.13,0.175,0.392,,-3.858,0,0.135,0.519,1.289,3.953,28.675
4,0.069,0.071,0.081,0.099,0.118,0.165,0.337,,-3.38,0,0.139,0.515,1.281,3.949,24.371
Big,0.078,0.091,0.088,0.111,0.126,0.163,0.317,,-1.986,0,0.127,0.508,1.276,3.838,22.406

### Regression

In [182]:
result3a=regCAPM(niPortXs,F2)
dt3a=result3a[0]
dt3b=result3a[2]

In [183]:
# List of tuples
regcapmdata = [ (' ',' ',' ','a',' ',' ',' ',' ',' ',' ',' ','t(a)',' ',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],dt3a[5], dt3a[6],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4],dt3b[5], dt3b[6]),
             (dt3a[7], dt3a[8], dt3a[9] , dt3a[10],dt3a[11],dt3a[12], dt3a[13],' ',dt3b[7], dt3b[8], dt3b[9] , dt3b[10],dt3b[11],dt3b[12], dt3b[13]),
             (dt3a[14], dt3a[15], dt3a[16],dt3a[17],dt3a[18],dt3a[19], dt3a[20],' ',dt3b[14], dt3b[15], dt3b[16] , dt3b[17],dt3b[18],dt3b[19], dt3b[20]),
             (dt3a[21], dt3a[22], dt3a[23] , dt3a[24],dt3a[25],dt3a[26], dt3a[27],' ',dt3b[21], dt3b[22], dt3b[23] , dt3b[24],dt3b[25],dt3b[26], dt3b[27]),
             (dt3a[28], dt3a[29], dt3a[30] , dt3a[31],dt3a[32],dt3a[33], dt3a[34],' ',dt3b[28], dt3b[29], dt3b[30] , dt3b[31],dt3b[32],dt3b[33], dt3b[34])]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Neg','Zero','Low' , '2', '3' , '4','High ',' ','Neg','Zero','Low', '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Neg,Zero,Low,2,3,4,High,,Neg,Zero,Low,2,3,4,High
,,,,a,,,,,,,,t(a),,,
small,0.198,-0.025,0.007,0.075,0.18,-0.148,-0.568,,3.356,-0.314,0.1,1.089,2.449,-1.951,-6.001
2,0.109,0.043,0.083,0.097,0.055,0.044,-0.435,,1.937,0.381,1.195,1.367,0.825,0.666,-5.703
3,0.238,0.035,0.049,0.184,0.128,0.015,-0.367,,3.581,0.294,0.669,2.612,1.787,0.204,-4.496
4,0.239,-0.014,-0.048,0.011,0.215,0.011,-0.279,,3.493,-0.11,-0.629,0.141,2.935,0.128,-2.953
Big,0.142,0.162,0.068,0.061,0.145,0.02,-0.363,,2.63,1.159,0.986,0.955,1.998,0.234,-4.27

In [184]:
result3a=regFivefactor(niPortXs,test)  #test already include HMLO
dt3a=result3a[0] 
dt3b=result3a[2]
dt3c=result3a[6] 

dt3d=result3a[7] 
dt3e=result3a[8]
dt3f=result3a[9]
dt3g=result3a[10]
dt3h=result3a[11]

In [185]:
reg5FdataNI = [ (' ',' ',' ','a',' ',' ',' ',' ',' ',' ',' ','t(a)',' ',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],dt3a[5], dt3a[6],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4],dt3b[5], dt3b[6]),
             (dt3a[7], dt3a[8], dt3a[9] , dt3a[10],dt3a[11],dt3a[12], dt3a[13],' ',dt3b[7], dt3b[8], dt3b[9] , dt3b[10],dt3b[11],dt3b[12], dt3b[13]),
             (dt3a[14], dt3a[15], dt3a[16],dt3a[17],dt3a[18],dt3a[19], dt3a[20],' ',dt3b[14], dt3b[15], dt3b[16] , dt3b[17],dt3b[18],dt3b[19], dt3b[20]),
             (dt3a[21], dt3a[22], dt3a[23] , dt3a[24],dt3a[25],dt3a[26], dt3a[27],' ',dt3b[21], dt3b[22], dt3b[23] , dt3b[24],dt3b[25],dt3b[26], dt3b[27]),
             (dt3a[28], dt3a[29], dt3a[30] , dt3a[31],dt3a[32],dt3a[33], dt3a[34],' ',dt3b[28], dt3b[29], dt3b[30] , dt3b[31],dt3b[32],dt3b[33], dt3b[34]),
             (' ',' ',' ','h',' ',' ',' ',' ',' ',' ',' ','t(h)',' ',' ', ' '),
             (dt3c[0], dt3c[1], dt3c[2] , dt3c[3],dt3c[4],dt3c[5], dt3c[6],' ',dt3d[0], dt3d[1], dt3d[2] , dt3d[3],dt3d[4],dt3d[5], dt3d[6]),
             (dt3c[7], dt3c[8], dt3c[9] , dt3c[10],dt3c[11],dt3c[12], dt3c[13],' ',dt3d[7], dt3d[8], dt3d[9] , dt3d[10],dt3d[11],dt3d[12], dt3d[13]),
             (dt3c[14], dt3c[15], dt3c[16],dt3c[17],dt3c[18],dt3c[19], dt3c[20],' ',dt3d[14], dt3d[15], dt3d[16] , dt3d[17],dt3d[18],dt3d[19], dt3d[20]),
             (dt3c[21], dt3c[22], dt3c[23] , dt3c[24],dt3c[25],dt3c[26], dt3c[27],' ',dt3d[21], dt3d[22], dt3d[23] , dt3d[24],dt3d[25],dt3d[26], dt3d[27]),
             (dt3c[28], dt3c[29], dt3c[30] , dt3c[31],dt3c[32],dt3c[33], dt3c[34],' ',dt3d[28], dt3d[29], dt3d[30] , dt3d[31],dt3d[32],dt3d[33], dt3d[34]), 
             (' ',' ',' ','r',' ',' ',' ',' ',' ',' ',' ','t(r)',' ',' ', ' '),
             (dt3e[0], dt3e[1], dt3e[2] , dt3e[3],dt3e[4],dt3e[5], dt3e[6],' ',dt3f[0], dt3f[1], dt3f[2] , dt3f[3],dt3f[4],dt3f[5], dt3f[6]),
             (dt3e[7], dt3e[8], dt3e[9] , dt3e[10],dt3e[11],dt3e[12], dt3e[13],' ',dt3f[7], dt3f[8], dt3f[9] , dt3f[10],dt3f[11],dt3f[12], dt3f[13]),
             (dt3e[14], dt3e[15], dt3e[16],dt3e[17],dt3e[18],dt3e[19], dt3e[20],' ',dt3f[14], dt3f[15], dt3f[16] , dt3f[17],dt3f[18],dt3f[19], dt3f[20]),
             (dt3e[21], dt3e[22], dt3e[23] , dt3e[24],dt3e[25],dt3e[26], dt3e[27],' ',dt3f[21], dt3f[22], dt3f[23] , dt3f[24],dt3f[25],dt3f[26], dt3f[27]),
             (dt3e[28], dt3e[29], dt3e[30] , dt3e[31],dt3e[32],dt3e[33], dt3e[34],' ',dt3f[28], dt3f[29], dt3f[30] , dt3f[31],dt3f[32],dt3f[33], dt3f[34]),
             (' ',' ',' ','c',' ',' ',' ',' ',' ',' ',' ','t(c)',' ',' ', ' '),
             (dt3g[0], dt3g[1], dt3g[2] , dt3g[3],dt3g[4],dt3g[5], dt3g[6],' ',dt3h[0], dt3h[1], dt3h[2] , dt3h[3],dt3h[4],dt3h[5], dt3h[6]),
             (dt3g[7], dt3g[8], dt3g[9] , dt3g[10],dt3g[11],dt3g[12], dt3g[13],' ',dt3h[7], dt3h[8], dt3h[9] , dt3h[10],dt3h[11],dt3h[12], dt3h[13]),
             (dt3g[14], dt3g[15], dt3g[16],dt3g[17],dt3g[18],dt3g[19], dt3g[20],' ',dt3h[14], dt3h[15], dt3h[16] , dt3h[17],dt3h[18],dt3h[19], dt3h[20]),
             (dt3g[21], dt3g[22], dt3g[23] , dt3g[24],dt3g[25],dt3g[26], dt3g[27],' ',dt3h[21], dt3h[22], dt3h[23] , dt3h[24],dt3h[25],dt3h[26], dt3h[27]),
             (dt3g[28], dt3g[29], dt3g[30] , dt3g[31],dt3g[32],dt3g[33], dt3g[34],' ',dt3h[28], dt3h[29], dt3h[30] , dt3h[31],dt3h[32],dt3h[33], dt3h[34])]


# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5FdataNI, columns =['Neg','Zero','Low' , '2', '3' , '4','High ',' ','Neg','Zero','Low', '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Neg,Zero,Low,2,3,4,High,,Neg,Zero,Low,2,3,4,High
,,,,a,,,,,,,,t(a),,,
small,0.103,-0.065,-0.015,0.054,0.246,-0.033,-0.347,,1.754,-0.79,-0.202,0.77,3.4,-0.448,-4.103
2,-0.033,-0.055,0.001,0.009,0.043,0.14,-0.241,,-0.631,-0.479,0.018,0.131,0.627,2.094,-3.405
3,0.069,-0.03,-0.051,0.124,0.123,0.093,-0.121,,1.152,-0.242,-0.691,1.72,1.662,1.251,-1.651
4,0.066,-0.215,-0.199,-0.103,0.225,0.156,0.005,,1.033,-1.713,-2.68,-1.368,2.979,1.95,0.058
Big,0.011,-0.014,-0.08,0.037,0.157,0.197,-0.197,,0.215,-0.103,-1.211,0.566,2.106,2.377,-2.399
,,,,h,,,,,,,,t(h),,,
small,0.264,0.207,0.218,0.128,-0.029,-0.011,-0.203,,9.422,5.227,6.14,3.806,-0.835,-0.308,-5.021
2,0.242,0.306,0.254,0.044,0.036,-0.013,-0.127,,9.677,5.608,7.654,1.295,1.081,-0.414,-3.732
3,0.197,0.226,0.335,0.105,0.004,0.057,-0.052,,6.865,3.837,9.531,3.059,0.122,1.587,-1.475
4,0.193,0.011,0.165,0.083,-0.055,-0.074,0.063,,6.346,0.189,4.65,2.3,-1.508,-1.929,1.56
Big,0.015,0.035,-0.019,-0.039,-0.054,-0.137,0.316,,0.62,0.518,-0.604,-1.254,-1.528,-3.461,8.04
,,,,r,,,,,,,,t(r),,,
small,0.223,0.099,0.04,-0.001,-0.237,-0.268,-0.596,,8.22,2.567,1.169,-0.043,-7.059,-7.753,-15.214
2,0.324,0.326,0.257,0.13,0.038,-0.19,-0.397,,13.382,6.159,7.995,3.926,1.183,-6.141,-12.072
3,0.418,0.09,0.289,0.131,0.022,-0.096,-0.429,,15.057,1.585,8.468,3.928,0.637,-2.764,-12.643
4,0.361,0.272,0.279,0.214,-0.03,-0.358,-0.531,,12.241,4.683,8.123,6.154,-0.868,-9.627,-13.616
Big,0.201,0.222,0.298,0.098,0.017,-0.365,-0.132,,8.471,3.413,9.677,3.23,0.5,-9.505,-3.475
,,,,c,,,,,,,,t(c),,,
small,0.416,0.289,0.318,0.271,0.055,-0.107,-0.301,,13.746,6.76,8.289,7.45,1.461,-2.773,-6.883
2,0.442,0.297,0.275,0.263,0.038,-0.155,-0.423,,16.375,5.031,7.671,7.122,1.061,-4.504,-11.539
3,0.351,0.453,0.414,0.203,-0.008,-0.151,-0.535,,11.341,7.135,10.88,5.46,-0.199,-3.913,-14.142
4,0.468,0.538,0.469,0.291,-0.066,-0.185,-0.397,,14.223,8.303,12.236,7.508,-1.684,-4.46,-9.141
Big,0.32,0.533,0.189,-0.104,-0.161,-0.409,-0.198,,12.064,7.348,5.523,-3.082,-4.186,-9.565,-4.663

## 5.Volatility (r-Var portfolios)

In [186]:
dt3=rVarPortXs.mean()
dt3
dt3sd=rVarPortXs.std()
dt3sd
# List of tuples
students = [ (' ', '  ' , 'Mean' , ' ',' ',' ',' ',' ','SD',' ', ' '),
             (dt3[0], dt3[1], dt3[2] , dt3[3],dt3[4],' ',dt3sd[0], dt3sd[1], dt3sd[2] , dt3sd[3],dt3sd[4]) ,
             (dt3[5], dt3[6], dt3[7] , dt3[8],dt3[9],' ',dt3sd[5], dt3sd[6], dt3sd[7] , dt3sd[8],dt3sd[9]) ,
             (dt3[10], dt3[11], dt3[12] , dt3[13],dt3[14],' ',dt3sd[10], dt3sd[11], dt3sd[12] , dt3sd[13],dt3sd[14]) ,
             (dt3[15], dt3[16], dt3[17] , dt3[18],dt3[19],' ',dt3sd[15], dt3sd[16], dt3sd[17] , dt3sd[18],dt3sd[19]) ,
             (dt3[20], dt3[21], dt3[22] , dt3[23],dt3[24],' ',dt3sd[20], dt3sd[21], dt3sd[22] , dt3sd[23],dt3sd[24]) ]
# Create DataFrame object from a list of tuples
table3 = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)#Pnael a )

        Low       2      3      4  High       Low       2      3      4  High
                      Mean                                    SD
small  1.005  1.192  1.062  0.826 -0.201     4.192  5.638  6.486  7.527  8.997
2      0.912  1.035  1.069  0.959  0.183     4.121  5.295  5.963  6.819  8.425
3      0.746  0.914  0.929  0.928  0.346     3.799  4.854  5.423  6.207  7.781
4      0.716  0.759  0.748  0.775  0.441     3.837  4.527  5.186  5.738  7.408
Big    0.468  0.509  0.505  0.483  0.466     3.655  4.153  4.564  5.026  6.422

In [187]:
#B/M=6/7 OP= 9 INV=10 PRIOR B= 8
dt3a=rVarPort[6].mean()
dt3b=rVarPort[9].mean()
# List of tuples
students = [ (' ', '  ' , 'B/M' , ' ',' ',' ',' ',' ','OP',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3a = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

        Low       2      3      4  High       Low       2      3      4  High
                       B/M                                    OP
small   0.99   0.94  0.908  0.884  0.924     0.243  0.317   0.36  0.494  0.001
2      0.861  0.811  0.778   0.75  0.713     0.329  0.338  0.318    0.3  0.204
3      0.809   0.74  0.706  0.686  0.657     0.301  0.328  0.338  0.347  0.292
4       0.77  0.699  0.663  0.648  0.621     0.311  0.369   0.39  0.336  0.363
Big    0.566  0.552  0.551  0.556   0.53     0.379  0.392  0.438  0.396  0.428

In [188]:
#B/M=6/7 OP= 9 INV=10 PRIOR B= 8
dt3a=rVarPort[10].mean()
dt3b=rVarPort[8].mean()
# List of tuples
students = [ (' ', '  ' , 'Inv' , ' ',' ',' ',' ',' ','RVar',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3b = pd.DataFrame(students, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low,2,3,4,High,,Low,2,3,4,High
,,,Inv,,,,,,RVar,,
small,0.103,0.129,0.159,0.187,0.191,,2.044,4.646,7.539,12.941,41.17
2,0.096,0.122,0.15,0.188,0.253,,1.411,2.899,4.399,6.664,16.815
3,0.096,0.114,0.134,0.166,0.25,,1.147,2.231,3.36,5.043,12.534
4,0.09,0.104,0.117,0.138,0.218,,1.035,1.842,2.685,3.95,9.705
Big,0.099,0.106,0.116,0.135,0.185,,0.83,1.402,1.943,2.754,5.84

### Regressions

In [189]:
result3a=regCAPM(rVarPortXs,F2)
# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         a                                  t(a)
small  0.335  0.337  0.123 -0.158 -1.226     5.071  4.697  1.616 -1.596 -7.609
2      0.261  0.218  0.202  0.043 -0.719     4.069  3.245  2.793  0.559 -7.112
3      0.151   0.18   0.14  0.095 -0.439      2.27  2.624  1.937  1.221 -4.622
4      0.152  0.118  0.042  0.045 -0.277     2.012   1.62  0.578  0.583 -2.705
Big    0.077  0.098     -0 -0.059 -0.059     1.342  1.821 -0.006 -1.031 -0.637

In [190]:
result3a=regFivefactor(rVarPortXs,test) #For five factor regression
# List of tuples
reg5Fdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ('', '  ' , 'b' , ' ',' ',' ',' ',' ','t(b)',' ', ' '),
             (result3a[1][0], result3a[1][1], result3a[1][2] , result3a[1][3],result3a[1][4],' ',result3a[3][0], result3a[3][1], result3a[3][2] , result3a[3][3],result3a[3][4]) ,
             (result3a[1][5], result3a[1][6], result3a[1][7] , result3a[1][8],result3a[1][9],' ',result3a[3][5], result3a[3][6], result3a[3][7] , result3a[3][8],result3a[3][9]) ,
             (result3a[1][10], result3a[1][11], result3a[1][12] , result3a[1][13],result3a[1][14],' ',result3a[3][10], result3a[3][11], result3a[3][12] , result3a[3][13],result3a[3][14]) ,
             (result3a[1][15], result3a[1][16], result3a[1][17] , result3a[1][18],result3a[1][19],' ',result3a[3][15], result3a[3][16], result3a[3][17] , result3a[3][18],result3a[3][19]) ,
             (result3a[1][20], result3a[1][21], result3a[1][22] , result3a[1][23],result3a[1][24],' ',result3a[3][20], result3a[3][21], result3a[3][22] , result3a[3][23],result3a[3][24]),
             ('', '  ' , 's' , ' ',' ',' ',' ',' ','t(s)',' ', ' '),
             (result3a[4][0], result3a[4][1], result3a[4][2] , result3a[4][3],result3a[4][4],' ',result3a[5][0], result3a[5][1], result3a[5][2] , result3a[5][3],result3a[5][4]),
             (result3a[4][5], result3a[4][6], result3a[4][7] , result3a[4][8],result3a[4][9],' ',result3a[5][5], result3a[5][6], result3a[5][7] , result3a[5][8],result3a[5][9]),
             (result3a[4][10], result3a[4][11], result3a[4][12] , result3a[4][13],result3a[4][14],' ',result3a[5][10], result3a[5][11], result3a[5][12] , result3a[5][13],result3a[5][14]),
             (result3a[4][15], result3a[4][16], result3a[4][17] , result3a[4][18],result3a[4][19],' ',result3a[5][15], result3a[5][16], result3a[5][17] , result3a[5][18],result3a[5][19]),
             (result3a[4][20], result3a[4][21], result3a[4][22] , result3a[4][23],result3a[4][24],' ',result3a[5][20], result3a[5][21], result3a[5][22] , result3a[5][23],result3a[5][24]),
             ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]), 
             ('', '  ' , 'r' , ' ',' ',' ',' ',' ','t(r)',' ', ' '),
             (result3a[8][0], result3a[8][1], result3a[8][2] , result3a[8][3],result3a[8][4],' ',result3a[9][0], result3a[9][1], result3a[9][2] , result3a[9][3],result3a[9][4]) ,
             (result3a[8][5], result3a[8][6], result3a[8][7] , result3a[8][8],result3a[8][9],' ',result3a[9][5], result3a[9][6], result3a[9][7] , result3a[9][8],result3a[9][9]) ,
             (result3a[8][10], result3a[8][11], result3a[8][12] , result3a[8][13],result3a[8][14],' ',result3a[9][10], result3a[9][11], result3a[9][12] , result3a[9][13],result3a[9][14]) ,
             (result3a[8][15], result3a[8][16], result3a[8][17] , result3a[8][18],result3a[8][19],' ',result3a[9][15], result3a[9][16], result3a[9][17] , result3a[9][18],result3a[9][19]) ,
             (result3a[8][20], result3a[8][21], result3a[8][22] , result3a[8][23],result3a[8][24],' ',result3a[9][20], result3a[9][21], result3a[9][22] , result3a[9][23],result3a[9][24]),
             ('', '  ' , 'c' , ' ',' ',' ',' ',' ','t(c)',' ', ' '),
             (result3a[10][0], result3a[10][1], result3a[10][2] , result3a[10][3],result3a[10][4],' ',result3a[11][0], result3a[11][1], result3a[11][2] , result3a[11][3],result3a[11][4]) ,
             (result3a[10][5], result3a[10][6], result3a[10][7] , result3a[10][8],result3a[10][9],' ',result3a[11][5], result3a[11][6], result3a[11][7] , result3a[11][8],result3a[11][9]) ,
             (result3a[10][10], result3a[10][11], result3a[10][12] , result3a[10][13],result3a[10][14],' ',result3a[11][10], result3a[11][11], result3a[11][12] , result3a[11][13],result3a[11][14]) ,
             (result3a[10][15], result3a[10][16], result3a[10][17] , result3a[10][18],result3a[10][19],' ',result3a[11][15], result3a[11][16], result3a[11][17] , result3a[11][18],result3a[11][19]) ,
             (result3a[10][20], result3a[10][21], result3a[10][22] , result3a[10][23],result3a[10][24],' ',result3a[11][20], result3a[11][21], result3a[11][22] , result3a[11][23],result3a[11][24])]



# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5Fdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low,2,3,4,High,,Low,2,3,4,High
,,,a,,,,,,t(a),,
small,0.216,0.194,0.062,-0.072,-0.841,,3.394,2.871,0.807,-0.714,-5.62
2,0.113,0.037,0.031,-0.067,-0.456,,1.89,0.619,0.474,-0.918,-4.882
3,0.005,0.017,-0.039,-0.034,-0.216,,0.072,0.28,-0.6,-0.463,-2.41
4,-0.004,-0.062,-0.127,-0.071,-0.034,,-0.055,-0.941,-1.891,-0.939,-0.354
Big,-0.004,-0.039,-0.117,-0.05,0.159,,-0.071,-0.771,-2.208,-0.845,1.8
,,,b,,,,,,t(b),,
small,0.722,0.986,1.1,1.151,1.115,,46.419,59.889,58.644,46.607,30.537
2,0.783,1.009,1.124,1.245,1.257,,53.62,70.084,70.456,69.782,55.176
3,0.787,1,1.102,1.206,1.248,,51.126,67.448,70.455,66.844,57.138
4,0.828,1,1.142,1.207,1.257,,46.791,61.945,69.814,65.055,54.076
Big,0.833,0.967,1.057,1.107,1.177,,60.146,79.033,81.788,77.172,54.649
,,,s,,,,,,t(s),,
small,0.683,0.939,1.049,1.205,1.37,,31.397,40.746,39.965,34.874,26.82
2,0.558,0.768,0.848,0.942,1.107,,27.324,38.122,37.972,37.748,34.726
3,0.31,0.488,0.585,0.697,0.807,,14.411,23.553,26.729,27.61,26.403
4,0.112,0.197,0.247,0.335,0.503,,4.53,8.725,10.782,12.915,15.461
Big,-0.274,-0.25,-0.159,-0.127,0.016,,-14.116,-14.581,-8.796,-6.309,0.53
,,,h,,,,,,t(h),,
small,0.379,0.35,0.338,0.264,0.216,,12.411,10.83,9.174,5.45,3.01
2,0.32,0.334,0.268,0.196,-0.07,,11.153,11.814,8.56,5.595,-1.568
3,0.323,0.351,0.281,0.189,-0.167,,10.681,12.081,9.167,5.34,-3.898
4,0.32,0.271,0.212,0.126,-0.177,,9.229,8.547,6.603,3.463,-3.878
Big,0.133,-0.049,0.047,0.058,-0.193,,4.876,-2.031,1.837,2.069,-4.557
,,,r,,,,,,t(r),,
small,0.337,0.402,0.234,-0.086,-0.797,,11.392,12.822,6.572,-1.827,-11.474
2,0.372,0.473,0.46,0.362,-0.523,,13.41,17.265,15.148,10.674,-12.071
3,0.35,0.471,0.486,0.387,-0.466,,11.953,16.7,16.337,11.282,-11.21
4,0.361,0.454,0.419,0.304,-0.546,,10.74,14.769,13.462,8.614,-12.342
Big,0.206,0.253,0.258,0.014,-0.443,,7.81,10.878,10.51,0.501,-10.816
,,,c,,,,,,t(c),,
small,0.475,0.443,0.317,0.057,-0.229,,14.403,12.68,7.973,1.098,-2.954
2,0.482,0.49,0.378,0.152,-0.473,,15.584,16.066,11.172,4.03,-9.786
3,0.519,0.421,0.385,0.197,-0.498,,15.901,13.413,11.613,5.14,-10.763
4,0.543,0.438,0.368,0.202,-0.469,,14.475,12.807,10.603,5.129,-9.506
Big,0.206,0.172,0.183,0.003,-0.55,,7.011,6.617,6.668,0.105,-12.042

## 6. Accrual

In [191]:
dt3=acPortXs.mean()
dt3
dt3sd=acPortXs.std()
dt3sd
# List of tuples
students = [ (' ', '  ' , 'Mean' , ' ',' ',' ',' ',' ','SD',' ', ' '),
             (dt3[0], dt3[1], dt3[2] , dt3[3],dt3[4],' ',dt3sd[0], dt3sd[1], dt3sd[2] , dt3sd[3],dt3sd[4]) ,
             (dt3[5], dt3[6], dt3[7] , dt3[8],dt3[9],' ',dt3sd[5], dt3sd[6], dt3sd[7] , dt3sd[8],dt3sd[9]) ,
             (dt3[10], dt3[11], dt3[12] , dt3[13],dt3[14],' ',dt3sd[10], dt3sd[11], dt3sd[12] , dt3sd[13],dt3sd[14]) ,
             (dt3[15], dt3[16], dt3[17] , dt3[18],dt3[19],' ',dt3sd[15], dt3sd[16], dt3sd[17] , dt3sd[18],dt3sd[19]) ,
             (dt3[20], dt3[21], dt3[22] , dt3[23],dt3[24],' ',dt3sd[20], dt3sd[21], dt3sd[22] , dt3sd[23],dt3sd[24]) ]
# Create DataFrame object from a list of tuples
table3 = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)#Pnael a )

        Low       2      3      4  High       Low       2      3      4  High
                      Mean                                    SD
small  0.879  0.917  0.831  0.961  0.586      7.11  6.555  6.204  6.467  7.232
2      0.823   0.88  0.809  0.738  0.631     6.554  5.804  5.874  6.162  6.801
3      0.872  0.785  0.836   0.79    0.6     6.203  5.486  5.217  5.661  6.626
4      0.739  0.691  0.656  0.766  0.705     5.691  5.112  4.979  5.202  6.205
Big    0.623  0.526  0.503  0.492  0.271     5.082  4.227  4.051  4.549  5.188

In [192]:
#B/M=6/7 OP= 10 INV=11 AC= 9
dt3a=acPort[6].mean()
dt3b=acPort[10].mean()
# List of tuples
students = [ (' ', '  ' , 'B/M' , ' ',' ',' ',' ',' ','OP',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3a = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)#Pnael a

        Low       2      3      4  High       Low       2      3      4  High
                       B/M                                    OP
small  0.909  0.969  0.974  0.904  0.757    -0.036  0.156  0.162  0.186   0.59
2      0.738  0.828  0.771  0.717  0.617     0.233  0.229  0.237  0.282  0.381
3      0.689   0.74  0.744  0.656  0.548      0.34  0.259  0.265  0.288  0.399
4      0.632  0.717    0.7  0.603  0.491     0.381  0.283  0.283  0.312   0.49
Big    0.505  0.562  0.536  0.451  0.397     0.451  0.352  0.349  0.383  0.734

In [193]:
#B/M=6/7 OP= 10 INV=11 AC= 9
dt3a=acPort[11].mean()
dt3b=acPort[9].mean()
# List of tuples
students = [ (' ', '  ' , 'Inv' , ' ',' ',' ',' ',' ','AC',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3b = pd.DataFrame(students, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)#Pnael a

,Low,2,3,4,High,,Low,2,3,4,High
,,,Inv,,,,,,AC,,
small,0.08,0.128,0.141,0.158,0.26,,-63.27,-2.423,1.732,6.313,59.332
2,0.127,0.141,0.155,0.164,0.269,,-42.328,-2.344,1.72,6.25,46.154
3,0.132,0.139,0.138,0.16,0.26,,-94.727,-2.329,1.723,6.178,40.551
4,0.111,0.114,0.123,0.142,0.222,,-24.171,-2.305,1.668,6.102,30.454
Big,0.127,0.111,0.11,0.124,0.176,,-17.067,-2.282,1.634,5.904,30.256

### Regressions

### Panel A: Regression Intercepts

#### Three Factor

In [194]:
result3a=regCAPM(acPortXs,F2) #MKT,SMB,HML
# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         a                                  t(a)
small  0.013  0.127  0.064  0.162 -0.284     0.163  1.673  0.933  2.534 -4.135
2       0.01  0.146  0.082 -0.043 -0.161      0.17  2.334  1.296 -0.699 -2.617
3      0.155  0.136  0.185  0.073 -0.171     1.984  1.953  2.812  1.131 -2.084
4      0.096  0.068  0.019  0.167  0.027     1.205  0.999  0.289  2.512  0.331
Big    0.211  0.167  0.112  0.066 -0.157     2.673  3.016  2.028  1.073 -1.782

#### Four Factor

In [195]:
result3a=regFourFactor(acPortXs,F4) #MKT,SMB,HML,CMA
# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         a                                  t(a)
small -0.034  0.076  0.021  0.145 -0.279    -0.434  1.005  0.312  2.251  -4.01
2     -0.008  0.123  0.048 -0.045 -0.134    -0.133  1.957  0.767 -0.732 -2.171
3       0.16  0.104   0.16  0.087 -0.106     2.035  1.493  2.416  1.336 -1.308
4      0.069  0.024  0.017  0.146  0.062     0.857   0.36  0.254  2.188  0.743
Big    0.208  0.156  0.081  0.091   -0.1     2.608  2.792   1.46  1.464 -1.148

#### Five Factor

In [196]:
result3a=regCAPM(acPortXs,test) #MKT,SMB,HMLO,RMW,CMA
# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         a                                  t(a)
small   0.11  0.256  0.143  0.226 -0.184      1.49  3.797  2.199  3.537 -2.695
2      0.038  0.139  0.094 -0.065 -0.154      0.61  2.168  1.483 -1.031 -2.446
3      0.193  0.162  0.189  0.044 -0.197     2.405  2.302  2.812  0.674 -2.459
4      0.063  0.086 -0.008  0.137  0.038      0.77  1.267 -0.115  2.012   0.45
Big     0.23  0.207  0.019  0.026 -0.183     2.837  3.704  0.345  0.416 -2.093

### Panel B: Regression slopes

#### 3 Factors

In [197]:
result3a=regCAPM(acPortXs,F2) #MKT,SMB,HML
# List of tuples
regcapmdata = [ ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         h                                  t(h)
small -0.003 -0.012  0.022  0.009 -0.043    -0.107 -0.426  0.903  0.394 -1.713
2     -0.002  0.044   0.01  0.039 -0.113    -0.084  1.939  0.429  1.752 -5.061
3      -0.06 -0.023  0.045  0.066 -0.065    -2.144 -0.925  1.879  2.851 -2.189
4     -0.046  0.076  0.142 -0.023 -0.114    -1.587  3.082  5.924 -0.948 -3.836
Big   -0.211 -0.101  0.001 -0.084   -0.2    -7.406 -5.076  0.057 -3.772 -6.299

#### 4 Factors

In [198]:
result3a=regFourFactor(acPortXs,F4) #For five factor regression
# List of tuples
reg5Fdata = [ ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]), 
             ('', '  ' , 'c' , ' ',' ',' ',' ',' ','t(c)',' ', ' '),
             (result3a[8][0], result3a[8][1], result3a[8][2] , result3a[8][3],result3a[8][4],' ',result3a[9][0], result3a[9][1], result3a[9][2] , result3a[9][3],result3a[9][4]) ,
             (result3a[8][5], result3a[8][6], result3a[8][7] , result3a[8][8],result3a[8][9],' ',result3a[9][5], result3a[9][6], result3a[9][7] , result3a[9][8],result3a[9][9]) ,
             (result3a[8][10], result3a[8][11], result3a[8][12] , result3a[8][13],result3a[8][14],' ',result3a[9][10], result3a[9][11], result3a[9][12] , result3a[9][13],result3a[9][14]) ,
             (result3a[8][15], result3a[8][16], result3a[8][17] , result3a[8][18],result3a[8][19],' ',result3a[9][15], result3a[9][16], result3a[9][17] , result3a[9][18],result3a[9][19]) ,
             (result3a[8][20], result3a[8][21], result3a[8][22] , result3a[8][23],result3a[8][24],' ',result3a[9][20], result3a[9][21], result3a[9][22] , result3a[9][23],result3a[9][24])]
            


# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5Fdata, columns = ['Low β' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

       Low β      2      3      4   High       Low      2      3      4   High
                         h                                  t(h)
small -0.111 -0.131 -0.077  -0.03 -0.029    -0.111 -0.131 -0.077  -0.03 -0.029
2     -0.045  -0.01 -0.068  0.033  -0.05    -0.045  -0.01 -0.068  0.033  -0.05
3     -0.047 -0.098 -0.014  0.099  0.087    -0.047 -0.098 -0.014  0.099  0.087
4     -0.109 -0.026  0.137 -0.071 -0.035    -0.109 -0.026  0.137 -0.071 -0.035
Big   -0.217 -0.127 -0.073 -0.027 -0.069    -0.217 -0.127 -0.073 -0.027 -0.069
                         c                                  t(c)
small  0.235   0.26  0.216  0.086 -0.029     4.298    4.9  4.503  1.895 -0.593
2      0.094  0.116  0.169  0.012 -0.137     2.167  2.624  3.812  0.286 -3.154
3     -0.028  0.161  0.128 -0.071 -0.331    -0.513  3.284  2.754 -1.541 -5.828
4      0.138   0.22  0.011  0.104 -0.173     2.455  4.642  0.231  2.209 -2.964
Big    0.015  0.056   0.16 -0.124 -0.285     0.263  1.416  4.121 -2.836 -4.642

#### 5 Factors

In [199]:
result3a=regFivefactor(acPortXs,test) #For five factor regression
# List of tuples
reg5Fdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ('', '  ' , 'b' , ' ',' ',' ',' ',' ','t(b)',' ', ' '),
             (result3a[1][0], result3a[1][1], result3a[1][2] , result3a[1][3],result3a[1][4],' ',result3a[3][0], result3a[3][1], result3a[3][2] , result3a[3][3],result3a[3][4]) ,
             (result3a[1][5], result3a[1][6], result3a[1][7] , result3a[1][8],result3a[1][9],' ',result3a[3][5], result3a[3][6], result3a[3][7] , result3a[3][8],result3a[3][9]) ,
             (result3a[1][10], result3a[1][11], result3a[1][12] , result3a[1][13],result3a[1][14],' ',result3a[3][10], result3a[3][11], result3a[3][12] , result3a[3][13],result3a[3][14]) ,
             (result3a[1][15], result3a[1][16], result3a[1][17] , result3a[1][18],result3a[1][19],' ',result3a[3][15], result3a[3][16], result3a[3][17] , result3a[3][18],result3a[3][19]) ,
             (result3a[1][20], result3a[1][21], result3a[1][22] , result3a[1][23],result3a[1][24],' ',result3a[3][20], result3a[3][21], result3a[3][22] , result3a[3][23],result3a[3][24]),
             ('', '  ' , 's' , ' ',' ',' ',' ',' ','t(s)',' ', ' '),
             (result3a[4][0], result3a[4][1], result3a[4][2] , result3a[4][3],result3a[4][4],' ',result3a[5][0], result3a[5][1], result3a[5][2] , result3a[5][3],result3a[5][4]),
             (result3a[4][5], result3a[4][6], result3a[4][7] , result3a[4][8],result3a[4][9],' ',result3a[5][5], result3a[5][6], result3a[5][7] , result3a[5][8],result3a[5][9]),
             (result3a[4][10], result3a[4][11], result3a[4][12] , result3a[4][13],result3a[4][14],' ',result3a[5][10], result3a[5][11], result3a[5][12] , result3a[5][13],result3a[5][14]),
             (result3a[4][15], result3a[4][16], result3a[4][17] , result3a[4][18],result3a[4][19],' ',result3a[5][15], result3a[5][16], result3a[5][17] , result3a[5][18],result3a[5][19]),
             (result3a[4][20], result3a[4][21], result3a[4][22] , result3a[4][23],result3a[4][24],' ',result3a[5][20], result3a[5][21], result3a[5][22] , result3a[5][23],result3a[5][24]),
             ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]), 
             ('', '  ' , 'r' , ' ',' ',' ',' ',' ','t(r)',' ', ' '),
             (result3a[8][0], result3a[8][1], result3a[8][2] , result3a[8][3],result3a[8][4],' ',result3a[9][0], result3a[9][1], result3a[9][2] , result3a[9][3],result3a[9][4]) ,
             (result3a[8][5], result3a[8][6], result3a[8][7] , result3a[8][8],result3a[8][9],' ',result3a[9][5], result3a[9][6], result3a[9][7] , result3a[9][8],result3a[9][9]) ,
             (result3a[8][10], result3a[8][11], result3a[8][12] , result3a[8][13],result3a[8][14],' ',result3a[9][10], result3a[9][11], result3a[9][12] , result3a[9][13],result3a[9][14]) ,
             (result3a[8][15], result3a[8][16], result3a[8][17] , result3a[8][18],result3a[8][19],' ',result3a[9][15], result3a[9][16], result3a[9][17] , result3a[9][18],result3a[9][19]) ,
             (result3a[8][20], result3a[8][21], result3a[8][22] , result3a[8][23],result3a[8][24],' ',result3a[9][20], result3a[9][21], result3a[9][22] , result3a[9][23],result3a[9][24]),
             ('', '  ' , 'c' , ' ',' ',' ',' ',' ','t(c)',' ', ' '),
             (result3a[10][0], result3a[10][1], result3a[10][2] , result3a[10][3],result3a[10][4],' ',result3a[11][0], result3a[11][1], result3a[11][2] , result3a[11][3],result3a[11][4]) ,
             (result3a[10][5], result3a[10][6], result3a[10][7] , result3a[10][8],result3a[10][9],' ',result3a[11][5], result3a[11][6], result3a[11][7] , result3a[11][8],result3a[11][9]) ,
             (result3a[10][10], result3a[10][11], result3a[10][12] , result3a[10][13],result3a[10][14],' ',result3a[11][10], result3a[11][11], result3a[11][12] , result3a[11][13],result3a[11][14]) ,
             (result3a[10][15], result3a[10][16], result3a[10][17] , result3a[10][18],result3a[10][19],' ',result3a[11][15], result3a[11][16], result3a[11][17] , result3a[11][18],result3a[11][19]) ,
             (result3a[10][20], result3a[10][21], result3a[10][22] , result3a[10][23],result3a[10][24],' ',result3a[11][20], result3a[11][21], result3a[11][22] , result3a[11][23],result3a[11][24])]



# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5Fdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

,Low,2,3,4,High,,Low,2,3,4,High
,,,a,,,,,,t(a),,
small,0.11,0.256,0.143,0.226,-0.184,,1.49,3.797,2.199,3.537,-2.695
2,0.038,0.139,0.094,-0.065,-0.154,,0.61,2.168,1.483,-1.031,-2.446
3,0.193,0.162,0.189,0.044,-0.197,,2.405,2.302,2.812,0.674,-2.459
4,0.063,0.086,-0.008,0.137,0.038,,0.77,1.267,-0.115,2.012,0.45
Big,0.23,0.207,0.019,0.026,-0.183,,2.837,3.704,0.345,0.416,-2.093
,,,b,,,,,,t(b),,
small,1.021,0.925,0.902,0.936,1.026,,56.897,56.227,56.916,60.14,61.714
2,1.104,1.01,0.968,1.015,1.109,,72.677,64.833,62.357,66.327,72.289
3,1.112,0.99,0.935,1.065,1.16,,56.955,57.728,57.063,66.283,59.323
4,1.09,1.04,1.026,1.026,1.143,,54.75,63.031,61.457,61.635,55.528
Big,1.025,0.904,0.916,0.971,1.024,,51.805,66.255,68.32,64.34,47.956
,,,s,,,,,,t(s),,
small,1.218,1.096,1.057,1.147,1.284,,48.508,47.603,47.644,52.659,55.196
2,0.928,0.782,0.864,0.972,1.019,,43.688,35.875,39.802,45.44,47.461
3,0.625,0.555,0.6,0.605,0.814,,22.875,23.136,26.185,26.883,29.758
4,0.433,0.234,0.272,0.354,0.522,,15.546,10.142,11.642,15.2,18.125
Big,-0.142,-0.278,-0.197,-0.097,-0.038,,-5.121,-14.575,-10.52,-4.584,-1.289
,,,h,,,,,,t(h),,
small,-0.057,-0.064,-0.031,-0,0.006,,-1.627,-1.971,-1.011,-0.012,0.193
2,-0.028,-0.004,-0.051,0.025,-0.057,,-0.935,-0.119,-1.667,0.849,-1.891
3,-0.035,-0.076,-0.003,0.083,0.053,,-0.915,-2.257,-0.103,2.632,1.382
4,-0.111,-0.003,0.128,-0.074,-0.044,,-2.847,-0.085,3.905,-2.263,-1.081
Big,-0.209,-0.108,-0.096,-0.052,-0.1,,-5.382,-4.017,-3.638,-1.741,-2.383
,,,r,,,,,,t(r),,
small,-0.35,-0.439,-0.295,-0.192,-0.224,,-10.254,-14.034,-9.767,-6.468,-7.097
2,-0.114,-0.038,-0.117,0.051,0.038,,-3.952,-1.292,-3.971,1.741,1.319
3,-0.082,-0.149,-0.07,0.114,0.226,,-2.22,-4.559,-2.252,3.723,6.085
4,-0.003,-0.147,0.079,0.01,0.049,,-0.091,-4.673,2.482,0.321,1.263
Big,-0.085,-0.139,0.133,0.147,0.182,,-2.269,-5.353,5.198,5.122,4.492
,,,c,,,,,,t(c),,
small,0.069,0.06,0.093,0.025,-0.094,,1.81,1.708,2.754,0.756,-2.673
2,0.031,0.1,0.083,0.053,-0.179,,0.97,3.029,2.532,1.629,-5.511
3,-0.088,0.042,0.103,0.045,-0.208,,-2.129,1.145,2.954,1.317,-5.025
4,0.031,0.171,0.158,0.037,-0.199,,0.728,4.888,4.471,1.036,-4.555
Big,-0.212,-0.091,0.111,-0.126,-0.323,,-5.056,-3.158,3.901,-3.949,-7.133

## 7.Momentum

In [200]:
dt3=momPortXs.mean()
dt3
dt3sd=momPortXs.std()
dt3sd
# List of tuples
students = [ (' ', '  ' , 'Mean' , ' ',' ',' ',' ',' ','SD',' ', ' '),
             (dt3[0], dt3[1], dt3[2] , dt3[3],dt3[4],' ',dt3sd[0], dt3sd[1], dt3sd[2] , dt3sd[3],dt3sd[4]) ,
             (dt3[5], dt3[6], dt3[7] , dt3[8],dt3[9],' ',dt3sd[5], dt3sd[6], dt3sd[7] , dt3sd[8],dt3sd[9]) ,
             (dt3[10], dt3[11], dt3[12] , dt3[13],dt3[14],' ',dt3sd[10], dt3sd[11], dt3sd[12] , dt3sd[13],dt3sd[14]) ,
             (dt3[15], dt3[16], dt3[17] , dt3[18],dt3[19],' ',dt3sd[15], dt3sd[16], dt3sd[17] , dt3sd[18],dt3sd[19]) ,
             (dt3[20], dt3[21], dt3[22] , dt3[23],dt3[24],' ',dt3sd[20], dt3sd[21], dt3sd[22] , dt3sd[23],dt3sd[24]) ]
# Create DataFrame object from a list of tuples
table3 = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)#Pnael a )

        Low       2      3      4  High       Low       2      3      4  High
                      Mean                                    SD
small  0.029  0.674  0.918  1.048  1.379     8.024   5.88  5.435  5.502   6.78
2      0.137  0.663  0.812   1.01  1.222     7.836  5.872  5.267  5.404  6.729
3      0.266  0.613  0.712  0.782  1.182      7.36  5.517  5.065  5.001  6.314
4      0.199  0.595  0.651  0.794  1.043     7.261   5.52  4.875  4.794  5.893
Big    0.165  0.459  0.398   0.55  0.783      6.79  4.882  4.371  4.313  5.266

### No data for B/M, OP INV and AC

In [201]:
#B/M=6/7 OP= 10 INV=11 AC= 9
dt3a=momPort[6].mean()
dt3b=momPort[10].mean()
# List of tuples
students = [ (' ', '  ' , 'B/M' , ' ',' ',' ',' ',' ','OP',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3a = pd.DataFrame(students, columns = ['Low ' , '2', '3' , '4','High ',' ','Low ' , '2', '3' , '4','High '], index=['','small', '2', '3' , '4' , 'Big'])
table3a#Pnael a

KeyError: 10

In [ ]:
#B/M=6/7 OP= 10 INV=11 AC= 9
dt3a=momPort[11].mean()
dt3b=momPort[6].mean()
# List of tuples
students = [ (' ', '  ' , 'Inv' , ' ',' ',' ',' ',' ','Prior2-12',' ', ' '),
             (dt3a[0], dt3a[1], dt3a[2] , dt3a[3],dt3a[4],' ',dt3b[0], dt3b[1], dt3b[2] , dt3b[3],dt3b[4]) ,
             (dt3a[5], dt3a[6], dt3a[7] , dt3a[8],dt3a[9],' ',dt3b[5], dt3b[6], dt3b[7] , dt3b[8],dt3b[9]) ,
             (dt3a[10], dt3a[11], dt3a[12] , dt3a[13],dt3a[14],' ',dt3b[10], dt3b[11], dt3b[12] , dt3b[13],dt3b[14]) ,
             (dt3a[15], dt3a[16], dt3a[17] , dt3a[18],dt3a[19],' ',dt3b[15],dt3b[16], dt3b[17] , dt3b[18],dt3b[19]) ,
             (dt3a[20], dt3a[21], dt3a[22] , dt3a[23],dt3a[24],' ',dt3b[20], dt3b[21], dt3b[22] , dt3b[23],dt3b[24]) ]
# Create DataFrame object from a list of tuples
table3b = pd.DataFrame(students, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table3b#Pnael a

### Regression

#### 5 Factors

In [202]:
result3a=regFivefactor(momPortXs,F6)
# List of tuples
regcapmdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ]
# Create DataFrame object from a list of tuples
table4a = pd.DataFrame(regcapmdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big'])
table4a.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

         Low      2      3      4   High       Low      2      3      4   High
                         a                                  t(a)
small -0.713 -0.197  0.039  0.216  0.622    -4.696   -2.5  0.619  3.287  6.488
2      -0.62 -0.209 -0.045  0.153  0.511    -4.408 -2.566 -0.788  2.854  5.697
3     -0.372  -0.19 -0.126  -0.07   0.51    -2.415 -2.248 -1.981  -1.14  5.265
4     -0.419  -0.21 -0.147  0.012  0.429    -2.502  -2.17 -2.188  0.185  4.015
Big   -0.375 -0.133 -0.183 -0.043  0.318     -2.28 -1.313 -2.848 -0.673  2.955

#### 6 Factors

In [203]:
momtest=test.copy()
momtest['Mom']=FF6['Mom   ']

In [204]:
momtest

         Mkt-RF   SMB      HMLO   RMW   CMA   Mom
Date
1963-07   -0.39 -0.47  0.243781  0.66 -1.15  1.00
1963-08    5.07 -0.79  1.945587  0.40 -0.40  1.03
1963-09   -1.57 -0.48  0.093831 -0.76  0.24  0.16
1963-10    2.53 -1.29  1.723674  2.75 -2.24  3.14
1963-11   -0.85 -0.84 -0.413395 -0.45  2.22 -0.75
...         ...   ...       ...   ...   ...   ...
2014-08    4.24  0.30  0.134607 -0.61 -0.70  0.79
2014-09   -1.97 -3.75 -0.831468  1.24 -0.53  0.44
2014-10    2.52  3.80 -1.701555 -0.48 -0.19 -0.04
2014-11    2.55 -2.29 -3.278496  1.49  0.20  1.06
2014-12   -0.06  2.86  1.396545 -1.16  0.88  1.09

[618 rows x 6 columns]

In [205]:
result3a=regSixfactor(momPortXs,momtest)
result3a
# List of tuples
reg5Fdata = [ ('', '  ' , 'a' , ' ',' ',' ',' ',' ','t(a)',' ', ' '),
             (result3a[0][0], result3a[0][1], result3a[0][2] , result3a[0][3],result3a[0][4],' ',result3a[2][0], result3a[2][1], result3a[2][2] , result3a[2][3],result3a[2][4]) ,
             (result3a[0][5], result3a[0][6], result3a[0][7] , result3a[0][8],result3a[0][9],' ',result3a[2][5], result3a[2][6], result3a[2][7] , result3a[2][8],result3a[2][9]) ,
             (result3a[0][10], result3a[0][11], result3a[0][12] , result3a[0][13],result3a[0][14],' ',result3a[2][10], result3a[2][11], result3a[2][12] , result3a[2][13],result3a[2][14]) ,
             (result3a[0][15], result3a[0][16], result3a[0][17] , result3a[0][18],result3a[0][19],' ',result3a[2][15], result3a[2][16], result3a[2][17] , result3a[2][18],result3a[2][19]) ,
             (result3a[0][20], result3a[0][21], result3a[0][22] , result3a[0][23],result3a[0][24],' ',result3a[2][20], result3a[2][21], result3a[2][22] , result3a[2][23],result3a[2][24]),
             ('', '  ' , 'h' , ' ',' ',' ',' ',' ','t(h)',' ', ' '),
             (result3a[6][0], result3a[6][1], result3a[6][2] , result3a[6][3],result3a[6][4],' ',result3a[7][0], result3a[7][1], result3a[7][2] , result3a[7][3],result3a[7][4]) ,
             (result3a[6][5], result3a[6][6], result3a[6][7] , result3a[6][8],result3a[6][9],' ',result3a[7][5], result3a[7][6], result3a[7][7] , result3a[7][8],result3a[7][9]) ,
             (result3a[6][10], result3a[6][11], result3a[6][12] , result3a[6][13],result3a[6][14],' ',result3a[7][10], result3a[7][11], result3a[7][12] , result3a[7][13],result3a[7][14]) ,
             (result3a[6][15], result3a[6][16], result3a[6][17] , result3a[6][18],result3a[6][19],' ',result3a[7][15], result3a[7][16], result3a[7][17] , result3a[7][18],result3a[7][19]) ,
             (result3a[6][20], result3a[6][21], result3a[6][22] , result3a[6][23],result3a[6][24],' ',result3a[7][20], result3a[7][21], result3a[7][22] , result3a[7][23],result3a[7][24]), 
             ('', '  ' , 'r' , ' ',' ',' ',' ',' ','t(r)',' ', ' '),
             (result3a[8][0], result3a[8][1], result3a[8][2] , result3a[8][3],result3a[8][4],' ',result3a[9][0], result3a[9][1], result3a[9][2] , result3a[9][3],result3a[9][4]) ,
             (result3a[8][5], result3a[8][6], result3a[8][7] , result3a[8][8],result3a[8][9],' ',result3a[9][5], result3a[9][6], result3a[9][7] , result3a[9][8],result3a[9][9]) ,
             (result3a[8][10], result3a[8][11], result3a[8][12] , result3a[8][13],result3a[8][14],' ',result3a[9][10], result3a[9][11], result3a[9][12] , result3a[9][13],result3a[9][14]) ,
             (result3a[8][15], result3a[8][16], result3a[8][17] , result3a[8][18],result3a[8][19],' ',result3a[9][15], result3a[9][16], result3a[9][17] , result3a[9][18],result3a[9][19]) ,
             (result3a[8][20], result3a[8][21], result3a[8][22] , result3a[8][23],result3a[8][24],' ',result3a[9][20], result3a[9][21], result3a[9][22] , result3a[9][23],result3a[9][24]),
             ('', '  ' , 'c' , ' ',' ',' ',' ',' ','t(c)',' ', ' '),
             (result3a[10][0], result3a[10][1], result3a[10][2] , result3a[10][3],result3a[10][4],' ',result3a[11][0], result3a[11][1], result3a[11][2] , result3a[11][3],result3a[11][4]) ,
             (result3a[10][5], result3a[10][6], result3a[10][7] , result3a[10][8],result3a[10][9],' ',result3a[11][5], result3a[11][6], result3a[11][7] , result3a[11][8],result3a[11][9]) ,
             (result3a[10][10], result3a[10][11], result3a[10][12] , result3a[10][13],result3a[10][14],' ',result3a[11][10], result3a[11][11], result3a[11][12] , result3a[11][13],result3a[11][14]) ,
             (result3a[10][15], result3a[10][16], result3a[10][17] , result3a[10][18],result3a[10][19],' ',result3a[11][15], result3a[11][16], result3a[11][17] , result3a[11][18],result3a[11][19]) ,
             (result3a[10][20], result3a[10][21], result3a[10][22] , result3a[10][23],result3a[10][24],' ',result3a[11][20], result3a[11][21], result3a[11][22] , result3a[11][23],result3a[11][24]),
             ('', '  ' , 'm' , ' ',' ',' ',' ',' ','t(m)',' ', ' '),
             (result3a[12][0], result3a[12][1], result3a[12][2] , result3a[12][3],result3a[12][4],' ',result3a[13][0], result3a[13][1], result3a[13][2] , result3a[13][3],result3a[13][4]) ,
             (result3a[12][5], result3a[12][6], result3a[12][7] , result3a[12][8],result3a[12][9],' ',result3a[13][5], result3a[13][6], result3a[13][7] , result3a[13][8],result3a[13][9]) ,
             (result3a[12][10], result3a[12][11], result3a[12][12] , result3a[12][13],result3a[12][14],' ',result3a[13][10], result3a[13][11], result3a[13][12] , result3a[13][13],result3a[13][14]) ,
             (result3a[12][15], result3a[12][16], result3a[12][17] , result3a[12][18],result3a[12][19],' ',result3a[13][15], result3a[13][16], result3a[13][17] , result3a[13][18],result3a[13][19]) ,
             (result3a[12][20], result3a[12][21], result3a[12][22] , result3a[12][23],result3a[12][24],' ',result3a[13][20], result3a[13][21], result3a[13][22] , result3a[13][23],result3a[3][24])]



# Create DataFrame object from a list of tuples
table4b = pd.DataFrame(reg5Fdata, columns = ['Low' , '2', '3' , '4','High',' ','Low' , '2', '3' , '4','High'], index=['','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big','','small', '2', '3' , '4' , 'Big'])
table4b
table4b.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x) #Rounded value to two decimal places

,Low,2,3,4,High,,Low,2,3,4,High
,,,a,,,,,,t(a),,
small,-0.226,-0.004,0.105,0.165,0.402,,-2.285,-0.062,1.698,2.526,4.939
2,-0.115,0.03,0.009,0.104,0.244,,-1.57,0.501,0.159,1.957,3.815
3,0.157,0.053,-0.013,-0.129,0.211,,1.761,0.851,-0.218,-2.115,3.179
4,0.147,0.081,-0.028,-0.032,0.104,,1.465,1.179,-0.456,-0.511,1.397
Big,0.163,0.185,-0.101,-0.153,-0.029,,1.573,2.737,-1.62,-2.596,-0.422
,,,h,,,,,,t(h),,
small,0.106,0.277,0.286,0.213,0.053,,2.205,8.803,9.514,6.709,1.35
2,0.059,0.185,0.24,0.215,0.02,,1.647,6.435,8.709,8.338,0.638
3,0.038,0.187,0.245,0.273,-0.014,,0.882,6.17,8.628,9.25,-0.438
4,0.067,0.101,0.211,0.151,0.003,,1.371,3.041,7.028,4.945,0.089
Big,0.031,0.046,0.103,0.066,0.039,,0.61,1.4,3.43,2.308,1.152
,,,r,,,,,,t(r),,
small,-0.291,0.129,0.219,0.104,-0.181,,-6.409,4.332,7.713,3.474,-4.847
2,-0.147,0.252,0.268,0.197,-0.16,,-4.377,9.269,10.288,8.078,-5.447
3,-0.18,0.244,0.319,0.344,-0.076,,-4.377,8.522,11.862,12.32,-2.509
4,-0.173,0.282,0.349,0.348,-0.07,,-3.763,8.984,12.27,12.085,-2.043
Big,0.019,0.231,0.261,0.248,0.012,,0.389,7.444,9.143,9.197,0.373
,,,c,,,,,,t(c),,
small,-0.089,0.325,0.361,0.308,0.012,,-1.76,9.832,11.444,9.224,0.285
2,-0.163,0.22,0.3,0.291,-0.126,,-4.355,7.303,10.376,10.72,-3.86
3,-0.173,0.214,0.322,0.336,-0.13,,-3.794,6.735,10.792,10.838,-3.847
4,-0.069,0.299,0.332,0.288,-0.079,,-1.353,8.572,10.522,9.006,-2.092
Big,-0.125,0.19,0.16,0.208,-0.166,,-2.351,5.498,5.048,6.952,-4.684
,,,m,,,,,,t(m),,
small,-0.676,-0.268,-0.092,0.07,0.306,,-29.482,-17.849,-6.406,4.606,16.269
2,-0.702,-0.332,-0.075,0.068,0.371,,-41.322,-24.235,-5.734,5.546,25.015
3,-0.735,-0.337,-0.158,0.081,0.416,,-35.557,-23.387,-11.627,5.767,27.106
4,-0.785,-0.404,-0.165,0.061,0.451,,-33.863,-25.488,-11.528,4.171,26.181
Big,-0.748,-0.442,-0.114,0.152,0.482,,-31.079,-28.177,-7.961,11.202,63.039